<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.house.dao.HouseDao">
    <resultMap id="BaseResultMap" type="com.aaa.house.entity.House">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="house_id" jdbcType="INTEGER" property="houseId" />
        <result column="house_uid" jdbcType="INTEGER" property="houseUid" />
        <result column="house_title" jdbcType="VARCHAR" property="houseTitle" />
        <result column="house_urban" jdbcType="INTEGER" property="houseUrban" />
        <result column="house_street" jdbcType="INTEGER" property="houseStreet" />
        <result column="house_district" jdbcType="VARCHAR" property="houseDistrict" />
        <result column="house_rent" jdbcType="INTEGER" property="houseRent" />
        <result column="house_state" jdbcType="INTEGER" property="houseState" />
        <result column="house_area" jdbcType="INTEGER" property="houseArea" />
        <result column="house_floor" jdbcType="INTEGER" property="houseFloor" />
        <result column="house_orientation" jdbcType="INTEGER" property="houseOrientation" />
        <result column="house_date" jdbcType="DATE" property="houseDate" />
        <result column="house_layout" jdbcType="INTEGER" property="houseLayout" />
        <result column="house_staffid" jdbcType="VARCHAR" property="houseStaffid" />
        <result column="house_cover" jdbcType="INTEGER" property="houseCover" />
        <result column="house_audit" jdbcType="INTEGER" property="houseAudit" />
        <result column="house_certificate" jdbcType="VARCHAR" property="houseCertificate" />

    </resultMap>
    <sql id="Base_Column_List">
        id, " house_uid", house_title, house_urban, house_street, house_district, house_lable,
        house_rent, house_state, house_area, house_floor, house_orientation, house_date,
        house_layout, house_staffid, house_audit, house_certificate
    </sql>
    <select id="queryHouseAll"  resultType="house" resultMap="BaseResultMap">
        select a.*,DATEDIFF(NOW(),a.house_date) newstime, c.code_state as houlayout,d.code_state as houurban,f.code_state as houstreet,g.code_state as houorientation
        from house a join (select * from code where code_type=7) c on a.house_layout=c.code_number
        join (select * from code where code_type=11300) d on a.house_urban=d.code_number
        join code e on e.code_number=a.house_urban
        join code f  on a.house_street=f.code_number
        join (select * from code where code_type=6) g on a.house_orientation=g.code_number
        <if test="userId!=null and userId!=''">
            join house_attention h on a.house_id=h.ah_hid
        </if>
        <if test="uPhone!=null and uPhone!=''">
            JOIN pact p ON p.pact_houseid=a.house_id
        </if>
        <where>
            a.house_delete=1
            <if test="userId!=null and userId!=''">
                and h.ah_uid =#{userId}
            </if>
            <if test="userId1!=null and userId1!=''">
                and a.house_uid =#{userId1}
            </if>
            <if test="uPhone!=null and uPhone!=''">
                and p.pact_uphone=#{uPhone}
            </if>
            <if test="rentStart!=null and rentStart!=''">
                and a.house_rent <![CDATA[ >= ]]> #{rentStart}
            </if>
            <if test="rentOver!=null and rentOver!=''">
                and a.house_rent <![CDATA[ <= ]]> #{rentOver}
            </if>
            <if test="houseLayout!=null and houseLayout!=''">
                and a.house_layout =#{houseLayout}
            </if>
            <if test="houseUrban!=null and houseUrban!=''">
                and a.house_urban =#{houseUrban}
            </if>
            <if test="houseStreet!=null and houseStreet!=''">
                and a.house_street =#{houseStreet}
            </if>
        </where> limit ${start},${pageSize}
    </select>
    <select id="queryHousePageCount"  resultType="Integer" >
        select count(*) from house a
        join (select * from code where code_type=7) c on a.house_layout=c.code_number
        join (select * from code where code_type=11300) d on a.house_urban=d.code_number
        join code e on e.code_number=a.house_urban
        join code f  on a.house_street=f.code_number
        join (select * from code where code_type=6) g on a.house_orientation=g.code_number
        <if test="userId!=null and userId!=''">
            join house_attention h on a.house_id=h.ah_hid
        </if>
        <if test="uPhone!=null and uPhone!=''">
            JOIN pact p ON p.pact_houseid=a.house_id
        </if>
        <where>
            a.house_delete=1
            <if test="userId!=null and userId!=''">
                and h.ah_uid =#{userId}
            </if>
            <if test="userId1!=null and userId1!=''">
                and a.house_uid =#{userId1}
            </if>
            <if test="uPhone!=null and uPhone!=''">
                and p.pact_uphone=#{uPhone}
            </if>
            <if test="rentStart!=null and rentStart!=''">
                and a.house_rent <![CDATA[ >= ]]> #{rentStart}
            </if>
            <if test="rentOver!=null and rentOver!=''">
                and a.house_rent <![CDATA[ <= ]]> #{rentOver}
            </if>
            <if test="houseLayout!=null and houseLayout!=''">
                and a.house_layout =#{houseLayout}
            </if>
            <if test="houseUrban!=null and houseUrban!=''">
                and a.house_urban =#{houseUrban}
            </if>
            <if test="houseStreet!=null and houseStreet!=''">
                and a.house_street =#{houseStreet}
            </if>
        </where>
    </select>
    <select id="selectLable"  resultType="string">
        select b.code_state lable from house_lable a join code b on a.la_id=b.code_number
        <where>
             b.code_type=9
            <if test="houseId!=null and houseId!=''">
                and a.ho_id=#{houseId}
            </if>
        </where>
    </select>
    <select id="selectLayout"  resultType="map">
        select code_number num,code_state val from code where code_type=7
    </select>
    <select id="selectImgs"  resultType="string">
        select himg from house_img
        <where>
            <if test="houseId!=null and houseId!=''">
                and hid=#{houseId}
            </if>
        </where>
    </select>
    <select id="selectStaff"  resultType="staff">
        select * from staff
        <where>
            <if test="houseStaff!=null and houseStaff!=''">
                and staff_num=#{houseStaff}
            </if>
        </where>
    </select>
    <select id="houseDetail"  resultType="house" resultMap="BaseResultMap">
        select a.*,DATEDIFF(NOW(),a.house_date) newstime, c.code_state as houlayout,d.code_state as houurban,f.code_state as houstreet,f.longitude,f.latitude,g.code_state as houorientation
        from house a join (select * from code where code_type=7) c on a.house_layout=c.code_number
        join (select * from code where code_type=11300) d on a.house_urban=d.code_number
        join code e on e.code_number=a.house_urban
        join code f  on a.house_street=f.code_number
        join (select * from code where code_type=6) g on a.house_orientation=g.code_number
        <where>
            <if test="houseId!=null and houseId!=''">
                and a.house_id=#{houseId}
            </if>
        </where>
    </select>
    <select id="selectAtteition" resultType="map">
        select * from house_attention where ah_uid=#{ah_uid} and ah_hid=#{ah_hid}
    </select>
    <insert id="insertAtteition" parameterType="Integer">
        insert into house_attention
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ah_uid != null">
                ah_uid,
            </if>
            <if test="ah_hid != null">
                ah_hid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ah_uid != null">
                #{ah_uid},
            </if>
            <if test="ah_hid != null">
                #{ah_hid},
            </if>
        </trim>
    </insert>
    <insert id="insertLookHouse" parameterType="Integer">
        insert into look_house
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="look_userid != null">
                look_userid,
            </if>
            <if test="look_staff != null">
                look_staff,
            </if>
            <if test="look_house != null">
                look_house,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="look_userid != null">
                #{look_userid},
            </if>
            <if test="look_staff != null">
                #{look_staff},
            </if>
            <if test="look_house != null">
                #{look_house},
            </if>
        </trim>
    </insert>
</mapper>