<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>枫城</title>
    <link rel="shortcut icon" href="resources/images/fengye1.ico"/>
    <script src="resources/js/jquery.js"></script>
    <script src="resources/js/axios.js"></script>
    <script src="resources/vue/vue.js"></script>
    <script src="resources/antd/moment.js"></script>
    <script src="resources/antd/antd.min.js"></script>
    <script src="resources/antd/ant-design-vue.js"></script>
    <link href="resources/antd/antd.min.css" rel="stylesheet">
    <link href="resources/css/home.css" rel="stylesheet"/>
    <script src="resources/js/cusutil.js"></script>
    <script type="text/javascript"
            src="http://api.map.baidu.com/api?v=2.0&ak=M2kGUcWj1dSWhQvuNlrqWYPouAGVbBGT">
    </script>
    <style>
        #components-layout-demo-fixed .logo {
            width: 120px;
            height: 31px;
            background: rgba(255, 255, 255, .2);
            margin: 16px 24px 16px 0;
            float: left;
        }

        #components-layout-demo-fixed .logo img {
            width: 120px;
            height: 95px;
            margin-top: -35px;
        }

        .lr,#cuslog {
            padding-left: 0;
            padding-right: 0;
            float: right;
        }

        #allmap {
            display: inline-block;
            height: 30px;
            padding: 0 8px;
            line-height: 24px;
            text-align: center;
            cursor: pointer;
            border-radius: 14px;
            border: 2px solid #fff;
            font-size: 14px;
            margin-bottom: -7px;
        }
        #ulinfo li{
            list-style: none;
            float: left;
            padding: 5px;
            background-color: lightgray;
            border-radius: 5px;
            margin-right: 10px;
            font-size: 13px;
        }
        .zf span{
            margin-right: 15px;
        }
        .zf {
            margin-bottom: 10px;
            margin-top: 10px;
        }
        #bu {
            margin-right: 8px;
        }
        #zflist a{
            font-size: 20px;
            font-weight: bold;
        }
        .zf img{
            border-radius: 10px;
            width: 250px;
            height: 180px;
            margin-left: 20px;
        }
        .ant-list-item-meta-title{
            margin-bottom: 30px;
        }
        .ant-list-item-meta-content{
            margin-left: 30px;
        }
        .ant-form-item-children{
            margin-right: 0px;
        }
        .ant-list-item-meta-description span{
            font-size: 14px;
            font-weight: bold;
        }
        .ant-list-item-meta-description p{
            margin-top: 20px;
            font-size: 14px;
        }
        #price{
            color: red;
            font-size: 26px;
            float: right;
        }
    </style>
</head>
<body>
<div id="house">
    <a-layout id="components-layout-demo-fixed">
        <a-layout-header :style="{ position: 'fixed', zIndex: 1, width: '100%' }">
            <div class="logo"><img src="resources/images/logoko.png"></div>
            <a-menu theme="dark" mode="horizontal" :defaultSelectedKeys="['2']" :style="{ lineHeight: '64px' }">
                <a-menu-item key="1"><a href="main.html">首页</a></a-menu-item>
                <a-menu-item key="2"><a href="">租房</a></a-menu-item>
                <a-menu-item key="3"><a href="housingresource.html">发布房源</a></a-menu-item>
                <a-menu-item key="4">
                    <a-popover>
                        <template slot="content">
                            <img width="100px" height="100px" src="resources/images/wokezufang.png">
                        </template>
                        <span>蜗壳租房APP</span>
                    </a-popover>
                </a-menu-item>
                <a-menu-item key="5" class="lr"><a href="register.html">注册</a></a-menu-item>
                <a-menu-item key="6" class="lr">/</a-menu-item>
                <a-menu-item key="7" class="lr"><a  href="login.html">登录</a></a-menu-item>
                <a-menu-item id="cuslog">
                    <a-dropdown>
						<span class="ant-dropdown-link cname">
                            <span id="cus"></span>
						</span>
                        <a-menu slot="overlay" @click="yonghu">
                            <a-menu-item key="grzx">
                                个人中心
                            </a-menu-item>
                            <a-menu-item key="zx">
                                注销
                            </a-menu-item>
                        </a-menu>
                    </a-dropdown>
                </a-menu-item>
            </a-menu>

        </a-layout-header>
        <a-layout-content style="background-color: #fff;padding: 0 100px; margin-top: 64px">
            <a-layout>
                <a-layout-content style="margin-top: 20px;margin-left: 20px;">
                    <div class="zf">
                        <h1 style="display: inline">枫城租房 </h1>&nbsp;<h1 style="display: inline;color: gray">|</h1>&nbsp;
                        <a id="allmap"></a>
                    </div>
                    <div>
                        <a-form layout="inline" :form="form">
                            <a-form-item label="租金"  style="margin-right: 0px;">
                                <a-input v-model="form.rentStart" style=" width: 100px; text-align:center;"/>
                            </a-form-item>
                            <span style="text-align: center">~</span>
                            <a-form-item >
                                <a-input v-model="form.rentOver" style="width: 100px; text-align: center;"/>
                            </a-form-item>
                            <a-form-item label="房屋布局">
                                <a-select v-model="form.houseLayout" style="width: 120px">
                                    <a-select-option v-for="item in houlayout" :key="item.num" :label="item.val" :value="item.num">{{item.val}}</a-select-option>
                                </a-select>
                            </a-form-item>
                            <a-form-item label="地区" >
                                <a-select v-model="form.houseUrban" id="urb" style="width: 120px" @change="handleProvinceChange">
                                    <a-select-option v-for="item in provinceData" :key="item.codeNumber" :label="item.codeState" :value="item.codeNumber">{{item.codeState}}</a-select-option>
                                </a-select>
                                <a-select v-model="form.houseStreet" style="width: 120px">
                                    <a-select-option v-for="ke in cityData" :key="ke.codeNumber" :label="ke.codeState" :value="ke.codeNumber">{{ke.codeState}}</a-select-option>
                                </a-select>
                            </a-form-item>
                            <a-form-item  id="bu">
                                <a-button type="primary" icon="redo" @click="flash"></a-button>
                                <a-button type="primary" icon="search" @click="submet"></a-button>
                            </a-form-item>
                        </a-form>
                    </div>
                </a-layout-content>
                <a-layout-content style="background-color: #fff">
                    <div class="zf">
                        <h3 style="display: inline;margin-left: 20px">已为您找到 <h3 style="color: #2f54eb;display: inline">
                            {{total}}</h3> 套 租房
                        </h3>
                    </div>
                </a-layout-content>
                <a-layout>
                    <a-layout-content style="background-color: #fff;padding-right: 100px;">
                        <div class="zf">
                            <a-list id="zflist" itemLayout="horizontal">
                                <a-list-item v-for="item in listData" :id="item.id">
                                    <a-list-item-meta>
                                        <a slot="title" @click="houseDetail(item.houseId)" :hid="item.houseId">{{item.houseTitle}}</a>
                                        <span slot="description">{{item.houurban}}-{{item.houstreet}}-{{item.houseDistrict}}&nbsp;&nbsp;&nbsp;/</span>
                                        <span slot="description">{{item.houseArea}}㎡&nbsp;&nbsp;&nbsp;/</span>
                                        <span slot="description">{{item.houorientation}}&nbsp;&nbsp;&nbsp;/</span>
                                        <span slot="description">{{item.houlayout}}</span>
                                        <span id="price" slot="description">{{item.houseRent}}<span slot="description">元/月</span></span>
                                        <p slot="description"><a-icon type="clock-circle"></a-icon>&nbsp;{{item.newstime}}天前发布</p>
                                        <ul id="ulinfo" slot="description" style="padding-left: 10px;">
                                            <li slot="description" v-for="(k,index) in item.houseLabel">{{k}}</li>
                                        </ul>
                                        <img slot="avatar" :src="'http://localhost:8080/loginReg/show?fileName='+item.houseCover"/>
                                    </a-list-item-meta>
                                </a-list-item>
                            </a-list>
                            <!--分页-->
                            <div style="text-align: center">
                                <a-pagination :current-page="currentPage" :page-size="pageSize" :total="total"  @change="onChange"/>
                            </div>
                        </div>
                    </a-layout-content>
                    <a-layout-sider style="background-color: #fff;">
                        <div style="font-size: 15px;font-weight: bold;margin:20px 0;">下载蜗壳APP</div>
                        <img src="resources/images/wokezufang.png" style="width: 100px;height: 100px">
                        <div style="font-size: 13px;margin-top: 10px">扫描上方二维码<br/>随时查看新房源</div>
                        <a href="#" style="font-size: 13px">查看更多&gt;&gt;</a>
                    </a-layout-sider>
                </a-layout>
                <a-layout-footer :style="{ textAlign: 'center' }">Copyright &copy; 2019.Volute.版权所有 | 本站内容版权属于原创，未经许可不得转载 </a-layout-footer>
            </a-layout>
        </a-layout-content>
    </a-layout>
</div>
</body>
<script>
    new Vue({
        el: "#house",
        data: {
            listData: [],
            currentPage: 1,
            pageSize: 2,
            total: 0,
            provinceData:[],
            cityData:[],
            form:{
                rentStart:'',
                rentOver:'',
                houseLayout:'',
                houseUrban:'',
                houseStreet:''
            },
        },
        mounted: function () {
            this.selectlayout();
            this.selectcity();
            this.load();
        },
        methods: {
            selectlayout:function () {
                var self = this;
                axios.post('/house/layout')
                    .then(function(response) {
                        self.houlayout = response.data;
                    })
            },
            selectcity:function () {
                var self = this;
                axios.post('/city/region')
                    .then(function(response) {
                        self.provinceData = response.data;
                        for (var i in self.provinceData) {
                            var obj = self.provinceData[i];
                            if (obj.codeNumber == self.form.houseUrban) {
                                self.cityData = obj.houseStreet;
                                break;
                            }
                        }
                        self.form.houseStreet = self.cityData[0].codeNumber;
                    })
            },
            load:function () {
                var self = this;
                var start = (this.currentPage - 1) * this.pageSize;
                axios.post('/house/page', {
                    start: start,
                    pageSize: this.pageSize,
                    rentStart:this.form.rentStart,
                    rentOver:this.form.rentOver,
                    houseLayout:this.form.houseLayout,
                    houseUrban:this.form.houseUrban,
                    houseStreet:this.form.houseStreet,
                })
                    .then(function(response) {
                        self.listData = response.data.empList;
                        self.total = response.data.total;
                    })
                    .catch(function(error) {
                        //handle error
                        console.log(error);
                    })
                    .then(function(response) {
                        //handle success
                    });
            },
            onChange:function (page) {
                this.currentPage = page;
                this.load();
            },
            handleProvinceChange:function () {
                this.selectcity();
            },
            flash:function () {
                this.form={
                    rentStart:'',
                    rentOver:'',
                    houseLayout:'',
                    houseUrban:'',
                    houseStreet:''
                }
                this.load();
            },
            submet:function () {
                this.load();
            },
            houseDetail:function (hid) {
                location.href="housedetail.html?hid="+hid;
            }
        },

        /*
            yonghu: function ({key}) {
                var _this = this;
                if (key == "zx") {
                    this.$confirm({
                        title: '确定退出?',
                        okText: '确定',
                        cancelText: '取消',
                        onOk: function () {
                            _this.killCusSession();
                        }
                    });
                }
                if (key == "grzx") {
                    //alert("个人中心")
                    window.location.href="personal.html";
                }
            },
            killCusSession: function () {
                $.ajax({
                    type: "post",
                    dataType: "json",
                    url: "/login/killCusSession",
                    success: function () {
                        window.location.reload();
                        //window.location.href="houselist.html";
                    }
                });
            },*/

    });
</script>
<!--<script type="text/javascript">
    $(function judgeCusLogin() {
        $.ajax({
            type: "post",
            dataType: "json",
            url: "/login/judgeCusLogin",
            success: function (data) {
                if (data.code == 200) {
                    //alert(data.code);
                    $(".lr").hide();
                    $("#cus").show();
                    $("#cus").html(data.object);
                } else {
                    $("#cus").hide();
                    $(".lr").show();
                }
            }
        });
    });
</script>-->
</html>