<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>枫城</title>
    <link rel="icon" href="../front/resources/images/fengye1.ico"/>
    <!--先引入vue.js库-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--axios-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!--本html中css-->
    <style type="text/css">
        body {
            background: url("resources/images/1 (1).jpeg") no-repeat;
            background-size: 100% 100%;
            /*background-attachment: fixed;*/
        }

        /*导航栏css*/
        a {
            /*font-size: 16px;*/
            text-decoration: none;
            color: white;
        }

        .el-menu-item {
            text-align: center;
        }

        a:hover {
            color: orange
        }

        /*图片展示css*/
        .avatar-uploader .el-upload {
            border: 1px dashed #d9d9d9;
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            margin-left: 100px;
        }


        .avatar-uploader .el-upload:hover {
            border-color: #409EFF;
        }

        .avatar-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            width: 120px;
            height: 120px;
            line-height: 120px;
            text-align: center;

        }

        .avatar {
            width: 120px;
            height: 120px;
            display: block;
        }

        .bg {
            background-color: rgba(255, 255, 255, 0.9);
            opacity: 1;
        }

        #price, #price1, #price2 {
            margin-top: 20px;
            color: red;
            font-size: 20px;
            margin-bottom: 10px;
        }

        .at {
            font-size: 20px;
            color: black;
            margin-bottom: 10px;
        }

        hr {
            color: #DCDFE6;
        }

    </style>
</head>
<body>
<div id="app">
    <!--导航栏-->
    <el-header>
        <el-row>
            <el-menu style="border-radius: 4px"
                     class="el-menu-demo"
                     mode="horizontal"
                     background-color="#000000"
                     text-color="#fff"
                     active-text-color="#ffd04b">
                <el-col :span="2" :offset="1">
                    <el-menu-item index="0">
                        <a href="main.html"><img src="resources/images/log.png" width="106" height="60"></a>
                    </el-menu-item>
                </el-col>
                <el-col :span="2">
                    <el-menu-item index="1"><a href="main.html">首页</a></el-menu-item>
                </el-col>
                <el-col :span="2">
                    <el-menu-item index="2"><a href="houselist.html">我要租房</a></el-menu-item>
                </el-col>
                <el-col :span="2">
                    <el-menu-item index="3"><a href="houseResource.html">发布房源</a></el-menu-item>
                </el-col>
                <el-col :span="2">
                    <el-menu-item index="4"><a href="main.html#fangxun">房讯</a></el-menu-item>
                </el-col>
                <el-col :span="2" :offset="10" v-if="imageUrl!=null">
                    <el-menu-item index="5">
                        <el-dropdown>
                            <span class="el-dropdown-link">
                                <el-avatar shape="circle" :size="45" :src="imageUrl1"></el-avatar>
                             </span>
                            <el-dropdown-menu slot="dropdown">
                                <el-dropdown-item><a href="userInfo.html" style="color: black;">个人中心</a>
                                </el-dropdown-item>
                                <el-dropdown-item><a @click="killCusSession()" style="color: black;">注销</a>
                                </el-dropdown-item>
                            </el-dropdown-menu>
                        </el-dropdown>
                    </el-menu-item>
                </el-col>
                <el-col :span="1" :offset="10" v-if="imageUrl==null">
                    <el-menu-item index="6">
                        <a href="login.html">登录</a>
                    </el-menu-item>
                </el-col>
                <el-col :span="1" v-if="imageUrl==null">
                    <el-menu-item index="7">
                        <a href="register.html">注册</a>
                    </el-menu-item>
                </el-col>
            </el-menu>
        </el-row>
    </el-header>
    <!--内容区-->
    <el-main>
        <!--天气和时间-->
        <el-row style="height: 30px;">
            <el-col :span="16" :offset="4">
                <iframe width="450" scrolling="no" height="18" frameborder="0" allowtransparency="true"
                        src="//i.tianqi.com/index.php?c=code&id=1&bdc=%23&icon=1&py=zhongyuanqu&wind=1&num=2&site=12"></iframe>
            </el-col>
        </el-row>
        <!--用户信息-->
        <el-row>
            <el-col :span="16" :offset="4" class="bg">
                <el-tabs tab-position="left">
                    <el-tab-pane label="个人资料">
                        <el-row>
                            <el-col :span="20" :offset="2" style="height: 40px;">
                                <p>个人资料</p>
                            </el-col>
                            <el-col :span="10" :offset="6" style="height: 480px;">
                                <el-form label-position="left" :model="ruleForm" :rules="rules" ref="ruleForm"
                                         label-width="100px" class="demo-ruleForm">
                                    <el-form-item label="头像" label-width="60px">
                                        <el-upload
                                                name="headPic"
                                                class="avatar-uploader"
                                                action="http://localhost:8080/loginReg/uploadHeadPic"
                                                :show-file-list="false"
                                                :on-success="handleAvatarSuccess"
                                                :before-upload="beforeAvatarUpload">

                                            <img v-if="imageUrl" :src="imageUrl" class="avatar">

                                            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                                        </el-upload>
                                    </el-form-item>

                                    <el-form-item label="昵称" prop="upetname">
                                        <el-input v-model="ruleForm.upetname"></el-input>
                                    </el-form-item>
                                    <el-form-item label="性别" prop="radio">
                                        <el-radio v-model="ruleForm.usex" label="1">先生</el-radio>
                                        <el-radio v-model="ruleForm.usex" label="2">女士</el-radio>
                                    </el-form-item>

                                    <el-form-item label="手机号" prop="phone">
                                        <el-input v-model="ruleForm.uphone" disabled></el-input>
                                    </el-form-item>
                                    <el-form-item label="状态">
                                        <el-input v-model="state" disabled></el-input>
                                    </el-form-item>
                                    <el-form-item>
                                        <el-button type="primary" @click="submitForm('ruleForm')">更新</el-button>
                                    </el-form-item>
                                </el-form>
                            </el-col>
                        </el-row>
                    </el-tab-pane>
                    <el-tab-pane label="我的关注">
                        <el-row>
                            <el-col :span="20" :offset="2" style="height: 480px;">
                                <p>您收藏了{{total}}套房源</p>
                                <div v-for="item in houseLikeData" :id="item.id" style="clear: both">
                                    <hr/>
                                    <div slot="description" style="float: left;">
                                        <img width="200px" height="125px" slot="avatar"
                                             :src="'http://localhost:8080/loginReg/show?fileName='+item.houseCover"/>
                                    </div>
                                    <div slot="description" style="float: right;">
                                        <span id="price" slot="description">{{item.houseRent}}元/月</span>
                                        <br>
                                        <el-button type="primary" size="mini" style="margin-top: 20px;float: right"
                                                   @click="cancel(item.houseId)" :hid="item.houseId">取消关注
                                        </el-button>
                                    </div>
                                    <div slot="description" style="margin-left: 240px;width: 450px">
                                        <a class="at" slot="title" @click="houseDetail(item.houseId)"
                                           :hid="item.houseId">{{item.houseTitle}}</a>
                                        <br>
                                        <span style="font-size: 16px;color: #606266;">
                                      {{item.houurban}}-{{item.houstreet}}-{{item.houseDistrict}}&nbsp;&nbsp;/&nbsp;&nbsp;{{item.houseArea}}&nbsp;&nbsp;/&nbsp;&nbsp;{{item.houorientation}}&nbsp;&nbsp;/&nbsp;&nbsp;{{item.houlayout}}
                                    </span>
                                        <p style="font-size: 12px;color: gray"><i class="el-icon-timer"></i>{{item.newstime}}天前发布
                                        </p>
                                        <div class="tag-group" style="margin-top: -5px">
                                            <el-tag v-for="(k,index) in item.houseLabel" type="warning"
                                                    style="margin-right: 10px">{{k}}
                                            </el-tag>
                                        </div>
                                    </div>
                                </div>
                            </el-col>
                            <el-col :span="20" :offset="2" style="height: 40px;">
                                <div style="text-align: center;margin-bottom: 10px">
                                    <!--分页区-->
                                    <el-pagination
                                            v-if="total>3"
                                            background
                                            @size-change="handleSizeChange"
                                            @current-change="handleCurrentChange"
                                            :current-page="currentPage"
                                            :page-size="pageSize"
                                            layout="total,prev, pager, next"
                                            :total="total">
                                    </el-pagination>
                                </div>
                            </el-col>
                        </el-row>
                    </el-tab-pane>
                    <el-tab-pane label="我的发布">
                        <el-row>
                            <el-col :span="20" :offset="2" style="height: 480px;">
                                <p>您已发布{{total1}}套房源</p>
                                <div v-for="item in houseSelfData" :id="item.id" style="clear: both">
                                    <hr/>
                                    <div slot="description" style="float: left;">
                                        <img width="200px" height="125px" slot="avatar"
                                             :src="'http://localhost:8080/loginReg/show?fileName='+item.houseCover"/>
                                    </div>
                                    <div slot="description" style="float: right;">
                                        <span id="price1" slot="description">{{item.houseRent}}元/月</span>
                                        <br>
                                        <el-popover v-if="item.houseAudit==3"
                                                    placement="top-start"
                                                    title="驳回原因"
                                                    width="200"
                                                    trigger="hover"
                                                    v-model="visible">
                                            <p>{{item.house_reason}}</p>
                                            <el-button type="danger" size="mini" style="margin-top: 15px;float: right"
                                                       slot="reference">驳回原因
                                            </el-button>

                                        </el-popover>

                                        <span v-if="item.houseAudit!=3">
                                             <el-button type="warning" size="mini" style="margin-top: 20px;float: right"
                                                        v-if="item.houseState==1">
                                            {{item.sta1}}
                                             </el-button>
                                            <el-button type="primary" size="mini" style="margin-top: 20px;float: right"
                                                   v-if="item.houseState==2">
                                            {{item.sta1}}
                                            </el-button>
                                            <el-button type="success" size="mini" style="margin-top: 20px;float: right"
                                                   v-if="item.houseState==3">
                                             {{item.sta1}}
                                            </el-button>


                                        </span>
                                        <!--                                        <br>-->


                                    </div>


                                    <div slot="description" style="margin-left: 240px;width: 450px">
                                        <a class="at" slot="title" @click="houseDetail(item.houseId)"
                                           :hid="item.houseId">{{item.houseTitle}}</a>
                                        <br>
                                        <span style="font-size: 16px;color: #606266;">
                                      {{item.houurban}}-{{item.houstreet}}-{{item.houseDistrict}}&nbsp;&nbsp;/&nbsp;&nbsp;{{item.houseArea}}&nbsp;&nbsp;/&nbsp;&nbsp;{{item.houorientation}}&nbsp;&nbsp;/&nbsp;&nbsp;{{item.houlayout}}
                                    </span>
                                        <p style="font-size: 12px;color: gray"><i class="el-icon-timer"></i>{{item.newstime}}天前发布
                                        </p>
                                        <div class="tag-group" style="margin-top: -5px">
                                            <el-tag v-for="(k,index) in item.houseLabel" type="warning"
                                                    style="margin-right: 10px">{{k}}
                                            </el-tag>
                                        </div>
                                    </div>
                                </div>
                            </el-col>
                            <!--分页-->
                            <el-col :span="20" :offset="2" style="height: 40px;">
                                <div style="text-align: center;margin-bottom: 10px">
                                    <!--分页区-->
                                    <el-pagination
                                            v-if="total1>3"
                                            background
                                            @size-change="handleSizeChange"
                                            @current-change="handleCurrentChange1"
                                            :current-page="currentPage1"
                                            :page-size="pageSize"
                                            layout="total,prev, pager, next"
                                            :total="total1">
                                    </el-pagination>
                                </div>
                            </el-col>
                        </el-row>
                    </el-tab-pane>
                    <el-tab-pane label="我的租房">
                        <el-row>
                            <el-col :span="20" :offset="2" style="height: 480px;">
                                <p>您发布{{total2}}套房源</p>
                                <div v-for="item in houseHerData" :id="item.id" style="clear: both">
                                    <hr/>
                                    <div slot="description" style="float: left;">
                                        <img width="200px" height="125px" slot="avatar"
                                             :src="'http://localhost:8080/loginReg/show?fileName='+item.houseCover"/>
                                    </div>
                                    <div slot="description" style="float: right;">
                                        <span id="price2" slot="description">{{item.houseRent}}元/月</span>
                                        <br>
                                        <el-button type="primary" size="mini" style="margin-top: 15px;float: right"
                                                   @click="dialogFormVisible = true" :hid="item.houseId">房屋报修
                                        </el-button>
                                        <br>
                                        <el-button type="primary" size="mini" style="margin-top: 10px;float: right"
                                                   @click="lookRefer(item.houseId)" :hid="item.houseId">报修详情
                                        </el-button>
                                    </div>

                                    <el-dialog title="报修表单" :visible.sync="dialogFormVisible">
                                        <el-form :model="form">
                                            <el-form-item label="报修原因">
                                                <el-input type="textarea" v-model="form.cause"></el-input>
                                            </el-form-item>
                                        </el-form>
                                        <div slot="footer" class="dialog-footer">
                                            <el-button @click="dialogFormVisible = false">取 消</el-button>
                                            <el-button type="primary" @click="refer(item.houseId)">确 定</el-button>
                                        </div>
                                    </el-dialog>

                                    <el-dialog title="报修详情" :visible.sync="dialogTableVisible">
                                        <el-table :data="gridData">
                                            <el-table-column property="u_name" label="报修用户"
                                                             width="100"></el-table-column>

                                            <el-table-column property="maTime" label="报修日期"
                                                             width="100"></el-table-column>
                                            <el-table-column property="maCause" label="报修原因"
                                                             width="200"></el-table-column>
                                            <el-table-column property="maStaff" label="维修编号"></el-table-column>
                                            <el-table-column property="ma_static" label="报修状态"></el-table-column>
                                            <el-table-column property="maFalse" label="驳回维修"></el-table-column>
                                        </el-table>
                                    </el-dialog>

                                    <div slot="description" style="margin-left: 240px;width: 450px">
                                        <a class="at" slot="title" @click="houseDetail(item.houseId)"
                                           :hid="item.houseId">{{item.houseTitle}}</a>
                                        <br>
                                        <span style="font-size: 16px;color: #606266;">
                                      {{item.houurban}}-{{item.houstreet}}-{{item.houseDistrict}}&nbsp;&nbsp;/&nbsp;&nbsp;{{item.houseArea}}&nbsp;&nbsp;/&nbsp;&nbsp;{{item.houorientation}}&nbsp;&nbsp;/&nbsp;&nbsp;{{item.houlayout}}
                                    </span>
                                        <p style="font-size: 12px;color: gray"><i class="el-icon-timer"></i>{{item.newstime}}天前发布
                                        </p>
                                        <div class="tag-group" style="margin-top: -5px">
                                            <el-tag v-for="(k,index) in item.houseLabel" type="warning"
                                                    style="margin-right: 10px">{{k}}
                                            </el-tag>
                                        </div>
                                    </div>
                                </div>
                            </el-col>
                            <!--分页-->
                            <el-col :span="20" :offset="2" style="height: 40px;">
                                <div style="text-align: center;margin-bottom: 10px">
                                    <!--分页区-->
                                    <el-pagination
                                            v-if="total2>3"
                                            background
                                            @size-change="handleSizeChange"
                                            @current-change="handleCurrentChange2"
                                            :current-page="currentPage2"
                                            :page-size="pageSize"
                                            layout="total,prev, pager, next"
                                            :total="total2">
                                    </el-pagination>
                                </div>
                            </el-col>
                        </el-row>
                    </el-tab-pane>
                    <el-tab-pane label="实名认证">
                        <el-row>
                            <el-col :span="20" :offset="2" style="height: 80px;">
                                <p>实名认证</p>
                                <el-divider></el-divider>
                            </el-col>
                            <el-col :span="10" :offset="6" style="height: 440px;">
                                <el-form label-position="left" :model="idFrom" :rules="rules1" ref="idFrom"
                                         label-width="100px" class="demo-ruleForm">
                                    <el-form-item label="身份证号" prop="ucard">
                                        <el-input v-model="idFrom.ucard" autocomplete="off"
                                                  :disabled="disabled"></el-input>
                                    </el-form-item>

                                    <el-form-item label="姓名" prop="uname">
                                        <el-input v-model="idFrom.uname" :disabled="disabled"></el-input>
                                    </el-form-item>
                                    <el-form-item>
                                        <el-button type="primary" @click="submitForm1('idFrom')" :disabled="disabled">
                                            实名认证
                                        </el-button>
                                    </el-form-item>

                                </el-form>
                            </el-col>
                        </el-row>
                    </el-tab-pane>
                    <el-tab-pane label="密码修改">
                        <el-row>
                            <el-col :span="20" :offset="2" style="height: 80px;">
                                <p>密码修改</p>
                                <el-divider></el-divider>
                            </el-col>
                            <el-col :span="10" :offset="6" style="height: 440px;">
                                <el-form label-position="left" :model="upFrom" :rules="rules2" ref="upFrom"
                                         label-width="100px" class="demo-ruleForm">
                                    <el-form-item label="当前密码" prop="oldPass">
                                        <el-input v-model="upFrom.oldPass" show-password></el-input>
                                    </el-form-item>

                                    <el-form-item label="修改密码" prop="newPass">
                                        <el-input v-model="upFrom.newPass" show-password></el-input>
                                    </el-form-item>
                                    <el-form-item label="确认密码" prop="checkPass">
                                        <el-input v-model="upFrom.checkPass" show-password></el-input>
                                    </el-form-item>
                                    <el-form-item>
                                        <el-button type="primary" @click="submitForm2('upFrom')">更新</el-button>
                                        <el-button @click="resetForm('upFrom')">重置</el-button>
                                    </el-form-item>

                                </el-form>


                            </el-col>
                        </el-row>
                    </el-tab-pane>
                </el-tabs>
            </el-col>
        </el-row>
    </el-main>

    <!--页脚公司信息-->
    <el-footer>
        <el-col :offset="1" :span="22"
                style="margin-top:20px;height:50px;background-color:  #DcDfE6;  border: 1px solid #DcDfE6;text-align: center ">


            <p>Copyright &copy; 2019.FengCheng.版权所有 | 本站内容版权属于原创，未经许可不得转载</p>

        </el-col>

        <!--        <el-row style="height:60px;">-->
        <!--            &lt;!&ndash;                        <iframe frameborder="0" scrolling="no" hspace="0" id="fancybox-frame" name="fancybox-frame1564580392567"   src="http://i.tianqi.com/index.php?c=code&a=getcode&id=38&h=60&w=610"></iframe>&ndash;&gt;-->
        <!--            &lt;!&ndash;            &ndash;&gt;-->
        <!--            &lt;!&ndash;                        <iframe frameborder="0" scrolling="no" width="420"  height="45"  allowtransparency="true" src="//i.tianqi.com/index.php?c=code&id=12&bdc=%23&icon=1&py=zhongyuanqu&num=5&site=12"></iframe>&ndash;&gt;-->

        <!--            &lt;!&ndash;                        <iframe width="450" scrolling="no" height="55" frameborder="0" allowtransparency="true" src="//i.tianqi.com/index.php?c=code&a=getcode&id=38&h=60&w=610"></iframe>&ndash;&gt;-->
        <!--        </el-row>-->
    </el-footer>
</div>

<script>
    //验证用户名正则
    var validatePet = (rule, value, callback) => {
        var str = /^[\u4E00-\u9FA5A-Za-z0-9]{2,6}$/;
        if (value === '') {
            callback(new Error('昵称不能为空'));
        } else if (!str.test(value)) {
            callback(new Error('格式错误 : 昵称由2-6位中文、英文、数字组成'));
        } else {
            callback();
        }
    };
    //验证身份正则
    var validateCard = (rule, value, callback) => {
        var IdCardNumberReg = /(^\d{15}$)|(^\d{17}([0-9]|X)$)/;
        if (value === '') {
            callback(new Error('身份证号不能为空'));
        } else if (!IdCardNumberReg.test(value)) {
            callback(new Error('格式错误:15位数字/17位数字和1位效验码组成'));
        } else {
            callback();
        }
    };
    //验证汉字正则
    var validateName = (rule, value, callback) => {
        var reg = /^[\u4e00-\u9fa5]{2,12}$/;
        if (value === '') {
            callback(new Error('姓名不能为空'));
        } else if (!reg.test(value)) {
            callback(new Error('格式错误 : 姓名由2-12位汉字组成'));
        } else {
            callback();
        }
    };
    //密码正则
    var validateOldPass = (rule, value, callback) => {
        var reg = /^[A-Za-z0-9]{6,16}$/;
        if (value === '') {
            callback(new Error('请输入密码'));
        } else if (!reg.test(value)) {
            callback(new Error('格式错误 : 密码由6-16位英文和数字组成'));
        }
        callback();

    };
    //新密码
    var validatePass = (rule, value, callback) => {
        var reg = /^[A-Za-z0-9]{6,12}$/;
        if (value === '') {
            callback(new Error('请输入密码'));
        } else if (!reg.test(value)) {
            callback(new Error('格式错误 : 密码由6-16位英文和数字组成'));
        } else {
            if (vue.upFrom.checkPass !== '') {
                vue.$refs.upFrom.validateField('checkPass');
            }
            callback();
        }
    };
    //确认密码
    var validatePass2 = (rule, value, callback) => {
        if (value === '') {
            callback(new Error('请再次输入密码'));
        } else if (value !== vue.upFrom.newPass) {
            callback(new Error('两次输入密码不一致!'));
        } else {
            callback();
        }
    };
    var vue = new Vue({
        el: "#app",
        data: {
            dialogTableVisible: false,
            dialogFormVisible: false,
            form: {
                cause: ''
            },
            gridData: [],
            houseData: [],
            currentPage: 1,
            pageSize: 3,
            total: 0,
            currentPage1: 1,
            total1: 0,
            currentPage2: 1,
            total2: 0,
            imageUrl: '',
            imageUrl1: '',
            disabled: true,
            ruleForm: {id: '', upetname: '', usex: '', uphone: '', uphoto: ''},
            rules: {
                upetname: [{validator: validatePet, trigger: 'blur'}]
            },
            idFrom: {
                id: '',
                ucard: '',
                uname: '',
                uphoto: ''
            },
            rules1: {
                ucard: [{validator: validateCard, trigger: 'blur'}],
                uname: [{validator: validateName, trigger: 'blur'}]
            },
            upFrom: {
                id: '',
                uphone: '',
                oldPass: '',
                newPass: '',
                checkPass: ''
            },
            rules2: {
                oldPass: [{validator: validateOldPass, trigger: 'blur'}],
                newPass: [{validator: validatePass, trigger: 'blur'}],
                checkPass: [{validator: validatePass2, trigger: 'blur'}]
            },
            state: '',
            url: '',
            houseLikeData: [],
            houseSelfData: [],
            houseHerData: []
        },
        created: function () {
            this.loadData();
        },
        methods: {
            killCusSession() {
                axios.post('http://localhost:8080/loginReg/outUser')
                    .then(function (response) {
                        window.location.href = "main.html";
                    });
            },
            errorHandler() {
                return true
            },
            loadData: function () {
                var self = this.ruleForm;
                var img = this;

                //获取用户信息
                axios.post('http://localhost:8080/loginReg/judgeCusLogin').then(function (response) {
                    if (response.data.object == null) {
                        window.location.href = "main.html";
                    }
                    self.id = response.data.object.id;
                    self.upetname = response.data.object.upetname;
                    self.usex = response.data.object.usex + '';
                    self.uphone = response.data.object.uphone;
                    self.uphoto = response.data.object.uphoto;
                    //修改密码id和账号赋值
                    img.upFrom.uphone = self.uphone;
                    img.upFrom.id = self.id;
                    //身份验证id赋值
                    img.idFrom.id = self.id;
                    img.idFrom.uphone = self.uphone;
                    //导航栏图片显示
                    img.imageUrl = 'http://localhost:8080/loginReg/show?fileName=' + response.data.object.uphoto;
                    //修改头像框显示
                    img.imageUrl1 = img.imageUrl;
                    //判断是否禁用或者实名
                    if (response.data.object.ucardState === 1) {
                        img.state = "未实名,";
                        img.disabled = false;
                    } else {
                        img.state = "已实名,";
                        img.disabled = true;
                        img.idFrom.ucard = response.data.object.ucard;
                        img.idFrom.uname = response.data.object.uname;
                    }
                    if (response.data.object.ustate === 1) {
                        img.state += "正常使用";
                    } else {
                        img.state += "禁止使用";
                    }
                    //查询分页我的关注
                    img.houseLike();
                    //查询分页我的发布
                    img.houseMy();
                    //查询分页我的租房
                    img.houseHer();

                });
            },
            houseLike() {
                var self = this;
                //分页开始位置
                var start = (this.currentPage - 1) * this.pageSize;
                axios.post('http://localhost:8080/loginReg/myHouse', {
                    userId: self.ruleForm.id,
                    start: start,
                    pageSize: self.pageSize
                }).then(function (response) {
                    self.houseLikeData = response.data.house;
                    if (self.houseLikeData.length === 0 && self.currentPage > 1) {
                        self.currentPage = self.currentPage - 1;
                        self.houseLike();
                    }
                    self.total = response.data.total;
                });
            },
            houseMy() {
                var self = this;
                //分页开始位置
                var start = (this.currentPage1 - 1) * this.pageSize;
                axios.post('http://localhost:8080/loginReg/myHouse', {
                    userId1: self.ruleForm.id, start: start, pageSize: self.pageSize
                }).then(function (response) {
                    self.houseSelfData = response.data.house;
                    self.total1 = response.data.total;
                });
            },
            houseHer() {
                var self = this;
                //分页开始位置
                var start = (this.currentPage2 - 1) * this.pageSize;
                axios.post('http://localhost:8080/loginReg/myHouse', {
                    uPhone: self.ruleForm.uphone, start: start, pageSize: self.pageSize
                }).then(function (response) {
                    self.houseHerData = response.data.house;
                    self.total2 = response.data.total;
                });
            },
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        this.url = 'http://localhost:8080/loginReg/update';
                        this.update(this.ruleForm);
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            submitForm1(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        this.url = 'http://localhost:8080/loginReg/checkID';
                        this.update(this.idFrom);
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            submitForm2(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        this.url = 'http://localhost:8080/loginReg/upPass';
                        this.update(this.upFrom);
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            },
            handleAvatarSuccess(res, file) {
                this.imageUrl = URL.createObjectURL(file.raw);
                this.ruleForm.uphoto = file.response.newFileName;
            },
            beforeAvatarUpload(file) {
                const isJPG = file.type === 'image/jpeg';
                const isLt2M = file.size / 1024 / 1024 < 2;
                if (!isJPG) {
                    this.$message.error('上传头像图片只能是 JPG 格式!');
                }
                if (!isLt2M) {
                    this.$message.error('上传头像图片大小不能超过 2MB!');
                }
                return isJPG && isLt2M;
            },
            update(from) {
                var self = this;
                axios.post(this.url, from).then(function (response) {
                    // console.log(JSON.stringify(response.data));
                    // console.log(response.data.code);
                    // var s = ;
                    if (response.data.code === 200) {
                        self.$message({
                            showClose: true,
                            message: response.data.msg,
                            type: 'success'
                        });
                    } else {
                        self.$message({
                            showClose: true,
                            message: response.data.msg,
                            type: 'error'
                        });
                    }
                    self.loadData();
                });


            },
            handleSizeChange: function (val) {
                console.log('每页条数:' + val);
                this.pageSize = val;
                this.loadData();
            },
            handleCurrentChange: function (val) {
                console.log('当前页:' + val);
                this.currentPage = val;
                this.loadData();
            },
            handleCurrentChange1: function (val) {
                this.currentPage1 = val;
                this.loadData();
            },
            handleCurrentChange2: function (val) {
                this.currentPage2 = val;
                this.loadData();
            },
            cancel(houseId) {
                var self = this;
                axios.post('http://localhost:8080/loginReg/delHouse', {userId: self.ruleForm.id, houseId: houseId})
                    .then(function (response) {
                        var s = response.data.code;
                        if (s === 200) {
                            self.$message({
                                showClose: true,
                                message: response.data.msg,
                                type: 'success'
                            });
                        } else {
                            self.$message({
                                showClose: true,
                                message: response.data.msg,
                                type: 'error'
                            });
                        }
                        self.loadData();
                    });
            },
            refer(houseId) {
                var self = this;
                axios.post('http://localhost:8080/loginReg/refer', {
                    name: self.idFrom.uname,
                    cause: self.form.cause,
                    houseId: houseId
                })
                    .then(function (response) {
                        var s = response.data.code;
                        if (s === 200) {
                            self.$message({
                                showClose: true,
                                message: response.data.msg,
                                type: 'success'
                            });
                        } else {
                            self.$message({
                                showClose: true,
                                message: response.data.msg,
                                type: 'error'
                            });
                        }
                        self.dialogFormVisible = false;
                        self.$refs[form].resetFields();
                        self.loadData();
                    });
            },
            lookRefer(houseId) {
                var self = this;
                var start = (this.currentPage1 - 1) * this.pageSize;
                axios.post('http://localhost:8080/queryStatic', {
                    name: self.idFrom.uname,
                    houseId: houseId,
                    start: start,
                    pageSize: self.pageSize
                })
                    .then(function (response) {

                        self.gridData = response.data.mainList;
                        // var s = response.data.code;
                        // if (s === 200) {
                        //     self.$message({
                        //         showClose: true,
                        //         message: response.data.msg,
                        //         type: 'success'
                        //     });
                        // } else {
                        //     self.$message({
                        //         showClose: true,
                        //         message: response.data.msg,
                        //         type: 'error'
                        //     });
                        // }
                        // self.loadData();
                        self.dialogTableVisible = true;
                    });
            },
            houseDetail: function (hid) {
                location.href = "housedetail.html?hid=" + hid;
            }
        }
    });
</script>
</body>
</html>
