<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>user</title>
    <!--先引入vue.js库-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--axios-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!--本html中css-->
    <style type="text/css">
        body {
            background: url("resources/images/1 (1).jpeg") no-repeat;
            background-size: 100% 100%;
            /*background-attachment: fixed;*/
        }

        /*导航栏css*/
        a {
            /*font-size: 16px;*/
            text-decoration: none;
            color: white;
        }

        .el-menu-item {
            text-align: center;
        }

        a:hover {
            color: orange
        }

        /*图片展示css*/
        .avatar-uploader .el-upload {
            border: 1px dashed #d9d9d9;
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            margin-left: 100px;
        }

        .avatar-uploader .el-upload:hover {
            border-color: #409EFF;
        }

        .avatar-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            width: 120px;
            height: 120px;
            line-height: 120px;
            text-align: center;

        }

        .avatar {
            width: 120px;
            height: 120px;
            display: block;
        }

        .bg {
            background-color: rgba(255, 255, 255, 0.9);
            opacity: 1;
        }

        #price, #price1 {
            margin-top: 20px;
            color: red;
            font-size: 20px;
            margin-bottom: 10px;
        }

        .at {
            font-size: 20px;
            color: black;
            margin-bottom: 10px;
        }

        hr {
            color: #DCDFE6;
        }

    </style>
</head>

<body>
<div id="app">
    <!--导航栏-->
    <el-header>
        <el-row>
            <el-menu style="border-radius: 4px"
                     class="el-menu-demo"
                     mode="horizontal"
                     background-color="#000000"
                     text-color="#fff"
                     active-text-color="#ffd04b">
                <el-col :span="2" :offset="3">
                    <el-menu-item index="0">

                        logo

                    </el-menu-item>
                </el-col>
                <el-col :span="2">
                    <el-menu-item index="1">

                        <a href="https://www.baidu.com">首页</a>

                    </el-menu-item>
                </el-col>
                <el-col :span="2">
                    <el-menu-item index="2">

                        <a href="https://www.baidu.com">房源信息</a>

                    </el-menu-item>
                </el-col>
                <el-col :span="2">
                    <el-menu-item index="3">
                        <a href="https://www.baidu.com">发布房源</a></el-menu-item>
                </el-col>
                <el-col :span="2" :offset="8">
                    <el-menu-item index="4">
                        <a href="https://www.baidu.com">
                            <!--                        <img v-if="ruleForm.photo" :src="'http://localhost:8080/loginReg/show?fileName='+ruleForm.photo" height="60px;" width="60px;">-->
                            <el-avatar shape="circle" :size="45" :src="imageUrl1"></el-avatar>
                        </a>
                    </el-menu-item>
                </el-col>
            </el-menu>
        </el-row>
    </el-header>

    <!--内容区-->
    <el-main>
        <!--天气和时间-->
        <el-row style="height: 30px;">
            <el-col :span="16" :offset="4">
                <iframe width="450" scrolling="no" height="18" frameborder="0" allowtransparency="true"
                        src="//i.tianqi.com/index.php?c=code&id=1&bdc=%23&icon=1&py=zhongyuanqu&wind=1&num=2&site=12"></iframe>
            </el-col>
        </el-row>
        <!--用户信息-->
        <el-row>
            <el-col :span="16" :offset="4" class="bg">
                <el-tabs tab-position="left">
                    <el-tab-pane label="个人资料">
                        <el-row>
                            <el-col :span="10" :offset="6" style="height: 520px;">
                                <el-form label-position="left" :model="ruleForm" :rules="rules" ref="ruleForm"
                                         label-width="100px" class="demo-ruleForm">
                                    <el-form-item label="头像" label-width="60px">
                                        <el-upload
                                                name="headPic"
                                                class="avatar-uploader"
                                                action="http://localhost:8080/loginReg/uploadHeadPic"
                                                :show-file-list="false"
                                                :on-success="handleAvatarSuccess"
                                                :before-upload="beforeAvatarUpload">

                                            <img v-if="imageUrl" :src="imageUrl" class="avatar">

                                            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                                        </el-upload>
                                    </el-form-item>

                                    <el-form-item label="昵称" prop="upetname">
                                        <el-input v-model="ruleForm.upetname"></el-input>
                                    </el-form-item>
                                    <el-form-item label="性别" prop="radio">
                                        <el-radio v-model="ruleForm.usex" label="1">先生</el-radio>
                                        <el-radio v-model="ruleForm.usex" label="2">女士</el-radio>
                                    </el-form-item>

                                    <el-form-item label="手机号" prop="phone">
                                        <el-input v-model="ruleForm.uphone" disabled></el-input>
                                    </el-form-item>
                                    <el-form-item label="状态">
                                        <el-input v-model="state" disabled></el-input>
                                    </el-form-item>
                                    <el-form-item>
                                        <el-button type="primary" @click="submitForm('ruleForm')">更新</el-button>
                                    </el-form-item>

                                </el-form>

                            </el-col>
                        </el-row>
                    </el-tab-pane>
                    <el-tab-pane label="我的关注">
                        <el-row>
                            <el-col :span="20" :offset="2" style="height: 520px;">
                                <p>您收藏{{total}}套房源</p>
                                <div v-for="item in houseLikeData" :id="item.id" style="clear: both">
                                    <hr/>
                                    <div slot="description" style="float: left;">
                                        <img width="200px" height="125px" slot="avatar"
                                             :src="'http://localhost:8080/loginReg/show?fileName='+item.houseCover"/>
                                    </div>
                                    <div slot="description" style="float: right;">
                                        <span id="price" slot="description">{{item.houseRent}}元/月</span>
                                        <br>
                                        <el-button type="primary" size="mini" style="margin-top: 20px;float: right"
                                                   @click="houseDetail(item.houseId)" :hid="item.houseId">取消关注
                                        </el-button>

                                    </div>

                                    <div slot="description" style="margin-left: 240px;width: 450px">
                                        <a class="at" slot="title" @click="houseDetail(item.houseId)"
                                           :hid="item.houseId">{{item.houseTitle}}</a>
                                        <br>
                                        <span style="font-size: 16px;color: #606266;">
                                      {{item.houurban}}-{{item.houstreet}}-{{item.houseDistrict}}&nbsp;&nbsp;/&nbsp;&nbsp;{{item.houseArea}}&nbsp;&nbsp;/&nbsp;&nbsp;{{item.houorientation}}&nbsp;&nbsp;/&nbsp;&nbsp;{{item.houlayout}}
                                    </span>
                                        <p style="font-size: 12px;color: gray"><i class="el-icon-timer"></i>{{item.newstime}}天前发布
                                        </p>
                                        <div class="tag-group" style="margin-top: -5px">
                                            <el-tag v-for="(k,index) in item.houseLabel" type="warning"
                                                    style="margin-right: 10px">{{k}}
                                            </el-tag>
                                        </div>
                                    </div>
                                </div>
                                <div style="text-align: center;margin-top: 25px">
                                    <!--分页区-->
                                    <el-pagination
                                            @size-change="handleSizeChange"
                                            @current-change="handleCurrentChange"
                                            :current-page="currentPage"
                                            :page-size="pageSize"
                                            layout="total,prev, pager, next"
                                            :total="total">
                                    </el-pagination>
                                </div>
                            </el-col>
                        </el-row>
                    </el-tab-pane>
                    <el-tab-pane label="我的发布">
                        <el-row>
                            <el-col :span="20" :offset="2" style="height: 520px;">
                                <p>您发布{{total1}}套房源</p>
                                <div v-for="item in houseSelfData" :id="item.id" style="clear: both">
                                    <hr/>
                                    <div slot="description" style="float: left;">
                                        <img width="200px" height="125px" slot="avatar"
                                             :src="'http://localhost:8080/loginReg/show?fileName='+item.houseCover"/>
                                    </div>
                                    <div slot="description" style="float: right;">
                                        <span id="price1" slot="description">{{item.houseRent}}元/月</span>
                                    </div>

                                    <div slot="description" style="margin-left: 240px;width: 450px">
                                        <a class="at" slot="title" @click="houseDetail(item.houseId)"
                                           :hid="item.houseId">{{item.houseTitle}}</a>
                                        <br>
                                        <span style="font-size: 16px;color: #606266;">
                                      {{item.houurban}}-{{item.houstreet}}-{{item.houseDistrict}}&nbsp;&nbsp;/&nbsp;&nbsp;{{item.houseArea}}&nbsp;&nbsp;/&nbsp;&nbsp;{{item.houorientation}}&nbsp;&nbsp;/&nbsp;&nbsp;{{item.houlayout}}
                                    </span>
                                        <p style="font-size: 12px;color: gray"><i class="el-icon-timer"></i>{{item.newstime}}天前发布
                                        </p>
                                        <div class="tag-group" style="margin-top: -5px">
                                            <el-tag v-for="(k,index) in item.houseLabel" type="warning"
                                                    style="margin-right: 10px">{{k}}
                                            </el-tag>
                                        </div>
                                    </div>
                                </div>
                                <div style="text-align: center;margin-top: 25px">
                                    <!--分页区-->
                                    <el-pagination
                                            @size-change="handleSizeChange"
                                            @current-change="handleCurrentChange"
                                            :current-page="currentPage"
                                            :page-size="pageSize"
                                            layout="total,prev, pager, next"
                                            :total="total1">
                                    </el-pagination>
                                </div>
                            </el-col>
                        </el-row>
                    </el-tab-pane>
                    <el-tab-pane label="实名认证">
                        <el-row>
                            <el-col :span="10" :offset="6" style="height: 520px;">
                                <el-divider><i class="el-icon-mobile-phone"></i></el-divider>
                                <el-form label-position="left" :model="idFrom" :rules="rules1" ref="idFrom"
                                         label-width="100px" class="demo-ruleForm">
                                    <el-form-item label="身份证号" prop="ucard">
                                        <el-input v-model="idFrom.ucard" autocomplete="off"
                                                  :disabled="disabled"></el-input>
                                    </el-form-item>

                                    <el-form-item label="姓名" prop="uname">
                                        <el-input v-model="idFrom.uname" :disabled="disabled"></el-input>
                                    </el-form-item>
                                    <el-form-item>
                                        <el-button type="primary" @click="submitForm1('idFrom')" :disabled="disabled">
                                            实名认证
                                        </el-button>
                                    </el-form-item>

                                </el-form>
                            </el-col>
                        </el-row>
                    </el-tab-pane>
                    <el-tab-pane label="密码修改">
                        <el-row>
                            <el-col :span="10" :offset="6" style="height: 520px;">

                                <el-divider><i class="el-icon-mobile-phone"></i></el-divider>


                                <el-form label-position="left" :model="upFrom" :rules="rules2" ref="upFrom"
                                         label-width="100px" class="demo-ruleForm">
                                    <el-form-item label="当前密码" prop="oldPass">
                                        <el-input v-model="upFrom.oldPass"></el-input>
                                    </el-form-item>

                                    <el-form-item label="修改密码" prop="newPass">
                                        <el-input v-model="upFrom.newPass"></el-input>
                                    </el-form-item>
                                    <el-form-item label="确认密码" prop="checkPass">
                                        <el-input v-model="upFrom.checkPass"></el-input>
                                    </el-form-item>
                                    <el-form-item>
                                        <el-button type="primary" @click="submitForm2('upFrom')">更新</el-button>
                                        <el-button @click="resetForm('upFrom')">重置</el-button>
                                    </el-form-item>

                                </el-form>


                            </el-col>
                        </el-row>

                    </el-tab-pane>
                </el-tabs>
            </el-col>
        </el-row>
    </el-main>


    <!--页脚公司信息-->
    <el-footer>
        <el-row style="height:60px;">
            <!--            <iframe frameborder="0" scrolling="no" hspace="0" id="fancybox-frame" name="fancybox-frame1564580392567"   src="http://i.tianqi.com/index.php?c=code&a=getcode&id=38&h=60&w=610"></iframe>-->
            <!---->
            <!--            <iframe frameborder="0" scrolling="no" width="420"  height="45"  allowtransparency="true" src="//i.tianqi.com/index.php?c=code&id=12&bdc=%23&icon=1&py=zhongyuanqu&num=5&site=12"></iframe>-->

            <!--            <iframe width="450" scrolling="no" height="55" frameborder="0" allowtransparency="true" src="//i.tianqi.com/index.php?c=code&a=getcode&id=38&h=60&w=610"></iframe>-->
        </el-row>
    </el-footer>
</div>

<script>
    //验证用户名正则
    var validatePet = (rule, value, callback) => {
        var str = /^[\u4E00-\u9FA5A-Za-z0-9]{2,6}$/;
        if (value === '') {
            callback(new Error('昵称不能为空'));
        } else if (!str.test(value)) {
            callback(new Error('格式错误 : 昵称由2-6位中文、英文、数字组成'));
        } else {
            callback();
        }
    };
    //验证身份正则
    var validateCard = (rule, value, callback) => {
        var IdCardNumberReg = /(^\d{15}$)|(^\d{17}([0-9]|X)$)/;
        if (value === '') {
            callback(new Error('身份证号不能为空'));
        } else if (!IdCardNumberReg.test(value)) {
            callback(new Error('格式错误 : 15位数字组或17位数字和1位效验码组成'));
        } else {
            callback();
        }
    };
    //验证汉字正则
    var validateName = (rule, value, callback) => {
        var reg = /^[\u4e00-\u9fa5]{2,12}$/;
        if (value === '') {
            callback(new Error('姓名不能为空'));
        } else if (!reg.test(value)) {
            callback(new Error('格式错误 : 姓名由2-12位汉字组成'));
        } else {
            callback();
        }
    };
    //密码正则
    var validateOldPass = (rule, value, callback) => {
        var reg = /^[A-Za-z0-9]{6,16}$/;
        if (value === '') {
            callback(new Error('请输入密码'));
        } else if (!reg.test(value)) {
            callback(new Error('格式错误 : 密码由6-16位英文和数字组成'));
        }
        callback();

    };
    //新密码
    var validatePass = (rule, value, callback) => {
        var reg = /^[A-Za-z0-9]{6,12}$/;
        if (value === '') {
            callback(new Error('请输入密码'));
        } else if (!reg.test(value)) {
            callback(new Error('格式错误 : 密码由6-16位英文和数字组成'));
        } else {
            if (vue.upFrom.checkPass !== '') {
                vue.$refs.upFrom.validateField('checkPass');
            }
            callback();
        }
    };
    //确认密码
    var validatePass2 = (rule, value, callback) => {
        if (value === '') {
            callback(new Error('请再次输入密码'));
        } else if (value !== vue.upFrom.newPass) {
            callback(new Error('两次输入密码不一致!'));
        } else {
            callback();
        }
    };
    var vue = new Vue({
        el: "#app",
        data: {
            currentPage: 1,
            pageSize: 3,
            total: 0,
            total1: 0,
            imageUrl: '',
            imageUrl1: '',
            disabled: true,
            ruleForm: {id: '', upetname: '', usex: '', uphone: '', uphoto: ''},
            rules: {
                upetname: [{validator: validatePet, trigger: 'blur'}]
            },
            idFrom: {
                id: '',
                ucard: '',
                uname: ''
            },
            rules1: {
                ucard: [{validator: validateCard, trigger: 'blur'}],
                uname: [{validator: validateName, trigger: 'blur'}]
            },
            upFrom: {
                id: '',
                uphone: '',
                oldPass: '',
                newPass: '',
                checkPass: ''
            },
            rules2: {
                oldPass: [{validator: validateOldPass, trigger: 'blur'}],
                newPass: [{validator: validatePass, trigger: 'blur'}],
                checkPass: [{validator: validatePass2, trigger: 'blur'}]
            },
            state: '',
            url: '',
            houseLikeData: [],
            houseSelfData: [],
            houseHerData: ''
        },
        created: function () {
            this.loadData();
        },
        methods: {
            errorHandler() {
                return true
            },
            loadData: function () {
                var self = this.ruleForm;
                var img = this;
                //获取用户信息
                axios.post('http://localhost:8080/loginReg/judgeCusLogin').then(function (response) {

                    if (response.data.object == null) {
                        window.location.href = "main.html";
                    }
                    self.id = response.data.object.id;
                    self.upetname = response.data.object.upetname;
                    self.usex = response.data.object.usex + '';
                    self.uphone = response.data.object.uphone;
                    self.uphoto = response.data.object.uphoto;

                    img.upFrom.uphone = self.uphone;
                    img.upFrom.id = self.id;

                    img.idFrom.id = self.id;

                    img.imageUrl = 'http://localhost:8080/loginReg/show?fileName=' + response.data.object.uphoto;
                    img.imageUrl1 = img.imageUrl;

                    if (response.data.object.ucardState == 1) {
                        img.state = "未实名,";
                        img.disabled = false;
                    } else {
                        img.state = "已实名,";
                        img.idFrom.ucard = response.data.object.ucard;
                        img.idFrom.uname = response.data.object.uname;
                    }
                    if (response.data.object.ustate == 1) {
                        img.state += "正常使用";
                    } else {
                        img.state += "禁止使用";
                    }
                    img.houseLikeData = response.data.house.empList;
                    img.total = response.data.house.total;


                    axios.post('http://localhost:8080/loginReg/myHouse', {
                        userId1: self.id,
                        start: img.currentPage,
                        pageSize: img.pageSize
                    })
                        .then(function (response) {
                            img.houseSelfData = response.data.empList;
                            img.total1 = response.data.total;
                        });
                });
            },
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        this.url = 'http://localhost:8080/loginReg/update';
                        this.update(this.ruleForm);
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            submitForm1(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        this.url = 'http://localhost:8080/loginReg/checkID';
                        this.update(this.idFrom);
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            submitForm2(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        this.url = 'http://localhost:8080/loginReg/upPass';
                        this.update(this.upFrom);
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            },
            handleAvatarSuccess(res, file) {
                this.imageUrl = URL.createObjectURL(file.raw);
                this.ruleForm.uphoto = file.response.newFileName;
            },
            beforeAvatarUpload(file) {
                const isJPG = file.type === 'image/jpeg';
                const isLt2M = file.size / 1024 / 1024 < 2;
                if (!isJPG) {
                    this.$message.error('上传头像图片只能是 JPG 格式!');
                }
                if (!isLt2M) {
                    this.$message.error('上传头像图片大小不能超过 2MB!');
                }
                return isJPG && isLt2M;
            },
            update(from) {
                var self = this;
                axios.post(this.url, from).then(function (response) {
                    console.log(JSON.stringify(response.data));
                    console.log(response.data.code);
                    var s = response.data.code;
                    if (s === 200) {
                        self.$message({
                            showClose: true,
                            message: '取关成功',
                            type: 'success'
                        });
                    } else {
                        self.$message({
                            showClose: true,
                            message: '取消失败',
                            type: 'error'
                        });
                    }
                    self.loadData();
                });
            },
            handleSizeChange: function (val) {
                console.log('每页条数:' + val);
                this.pageSize = val;
                this.page();
            },
            handleCurrentChange: function (val) {
                console.log('当前页:' + val);
                this.currentPage = val;
                this.page();
            },
            page() {
                var self = this;
                axios.post('http://localhost:8080/loginReg/queryPage', {
                    start: this.currentPage,
                    pageSize: this.pageSize
                })
                    .then(function (response) {
                        self.loadData();
                    });
            },
            houseDetail(houseId) {
                var self = this;
                axios.post('http://localhost:8080/loginReg/delHouse', {houseId: houseId})
                    .then(function (response) {
                        var s = response.data.code;
                        if (s === 200) {
                            self.$message({
                                showClose: true,
                                message: response.data.msg,
                                type: 'success'
                            });
                        } else {
                            self.$message({
                                showClose: true,
                                message: response.data.msg,
                                type: 'error'
                            });
                        }
                        self.loadData();
                    });
            }
        }
    });
</script>
</body>
</html>
