<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>枫城</title>
		<link rel="icon" href="../front/resources/images/fengye1.ico"/>
		<script src="../front/resources/js/jquery.js"></script>
		<script src="../front/resources/vue/vue.js"></script>
		<script src="../front/resources/js/ele.js"></script>
		<link href="../front/resources/css/ele.css" rel="stylesheet">
		<script src="../front/resources/js/axios.js"></script>
		<style>
			#res {
				height: 100%;
				background-color: #DCDFE6;
			}
			
			 .tou {
				width: 50px;
				margin-left: 15px;
				margin-top: 10px;
				float: left
			}
			
			#res h1 {
				float: left;
			}
			
			body .el-container {
				height: 100%;
				margin-bottom: 40px;
				border-radius: 2px;
				box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
			}
			
			.el-header,
			.el-footer {
				background-color: #E4E7ED;
				color: #333;
				text-align: center;
			}
			
			.el-main {
				height: 510px;
				background-color: #EBEEF5;
				color: #333;
				text-align: center;
			}


		<!--上传样式-->


			.avatar-uploader .el-upload {
				border: 1px dashed #d9d9d9;
				border-radius: 6px;
				cursor: pointer;
				position: relative;
				overflow: hidden;
			}
			.avatar-uploader .el-upload:hover {
				border-color: #409EFF;
			}
			.avatar-uploader-icon {
				font-size: 28px;
				color: #8c939d;
				width: 178px;
				height: 178px;
				line-height: 178px;
				text-align: center;
			}
			.avatar {
				width: 150px;
				height: 150px;
				display: block;
			}
		</style>
		<!--上传样式-->



	</head>

	<body>
		<div id="res">
			<el-container>

				<el-header>

					<image class="tou" src="../front/resources/images/icon/添加房源.png"></image>
					<h1>添加房源</h1>

				</el-header>
				<el-main>

						<el-form ref="eform" :rules="rules" :model="eform" label-width="100px">
							<el-form-item label="经纪人信息">
								<el-col :span="8">
									<span>编号&nbsp;&nbsp;</span>
									<el-input v-model="eform.staff_num" style="width:220px" disabled></el-input>
								</el-col>
								<el-col :span="8">
									<span>名字&nbsp;&nbsp;</span>
									<el-input v-model="eform.staff_name" style="width:220px" disabled></el-input>
								</el-col>
								<el-col :span="8">
									<span>电话&nbsp;&nbsp;</span>
									<el-input v-model="eform.staff_phone" style="width:220px" disabled></el-input>
								</el-col>
							</el-form-item>



							<el-form-item label="房东信息" :label-width="formLabelWidth">
								<el-col :span="8">
									<span>姓名&nbsp;&nbsp;</span>
									<el-select v-model="eform.uh_name" prop="uh_name"  @change="searchName"  placeholder="请选择房东姓名" size="large" clearable>
										<el-option
												v-for="item in options"
												:key="item.uh_useid"
												:label="item.uh_name"
												:value="item.uh_useid">
										</el-option>
									</el-select>
								</el-col>

								<el-col :span="8">
									<span>房屋&nbsp;&nbsp;</span>
									<el-select v-model="eform.uhouse" prop="uhouse"  placeholder="请选择房东房屋号" size="large" clearable >
										<el-option
												v-for="item in options1"
												:key="item.uh_id"
												:label="item.uh_id"
												:value="item.uh_id">
										</el-option>
									</el-select>
								</el-col>

							</el-form-item>





							<el-form-item label="房屋封面" prop="headPic" :label-width="formLabelWidth">

									<el-upload
											name="headPic"
											action="/uploadHeadPic"
											list-type="picture-card"
											:on-success="handleAvatarSuccess"
											:on-preview="handleAvatarSuccess"
											:on-remove="handleRemove">
										<i class="el-icon-plus"></i>
									</el-upload>
									<el-dialog :visible.sync="dialogVisible">
										<img width="100%" :src="imageUrl" alt="">
									</el-dialog>


								<!--<el-upload
										name="headPic"
										class="avatar-uploader"
										action="/uploadHeadPic"
										:show-file-list="false"
										:on-success="handleAvatarSuccess"
										:before-upload="beforeAvatarUpload">
									<img v-if="imageUrl" :src="imageUrl" class="avatar">
									<i v-else class="el-icon-plus avatar-uploader-icon"></i>
								</el-upload>-->
							</el-form-item>









							<el-form-item label="房产证图" prop="headPic1" :label-width="formLabelWidth">
								<el-upload
										name="headPic1"
										action="/uploadHeadPic1"
										list-type="picture-card"
										:on-success="handleAvatarSuccess1"
										:on-preview="handleAvatarSuccess1"
										:on-remove="handleRemove">
									<i class="el-icon-plus"></i>
								</el-upload>
								<el-dialog :visible.sync="dialogVisible">
									<img width="100%" :src="imageUrll" alt="">
								</el-dialog>

								<!--
								<el-upload
										name="headPic1"
										class="avatar-uploader"
										action="/uploadHeadPic1"
										:show-file-list="false"
										:on-success="handleAvatarSuccess1"
										:before-upload="beforeAvatarUpload">
									<img v-if="imageUrll" :src="imageUrll" class="avatar">
									<i v-else class="el-icon-plus avatar-uploader-icon"></i>
								</el-upload>-->

							</el-form-item>

							<el-form-item label="房屋标题" prop="house_title">
								<el-input v-model="eform.house_title"></el-input>
							</el-form-item>

							<el-form-item label="房屋地址">
								<el-col :span="8">
									<el-form-item label="城市" prop="uh_urban" :label-width="formLabelWidth">
										<el-select v-model="eform.uh_urban" @change="urbanStreet" placeholder="请选择地区" id="address">
											<el-option label="郑州" value="1130121"></el-option>
											<el-option label="开封" value="1130122"></el-option>
											<el-option label="洛阳" value="1130123"></el-option>
											<el-option label="平顶山" value="1130124"></el-option>
											<el-option label="安阳" value="1130125"></el-option>
											<el-option label="鹤壁" value="1130126"></el-option>
											<el-option label="新乡" value="1130127"></el-option>
											<el-option label="焦作" value="1130128"></el-option>
											<el-option label="周口" value="1130129"></el-option>
											<el-option label="信阳" value="1130130"></el-option>
										</el-select>
										</el-select>
									</el-form-item>
								</el-col>

								<el-col :span="8">
									<el-form-item label="街道" prop="uh_street" :label-width="formLabelWidth">
										<el-select v-model="eform.uh_street" placeholder="请选择">
											<el-option
													v-for="item in options3"
													:key="item.code_number"
													:label="item.code_state"
													:value="item.code_number">
											</el-option>
										</el-select>
									</el-form-item>
								</el-col>

								<el-col :span="8">
									<el-form-item label="详细地址" prop="uh_district">
										<el-input id="street" v-model="eform.uh_district" placeholder="详细地址" style="width:220px"></el-input>
									</el-form-item>
								</el-col>

							</el-form-item>

							<el-form-item label="房屋详情">


								<el-col :span="8">
									<el-form-item label="楼层" prop="house_floor">
										<el-input v-model.number="eform.house_floor" style="width:220px" placeholder="请输入楼层数"></el-input>
									</el-form-item>
								</el-col>

								<el-col :span="8">
									<el-form-item label="朝向" prop="house_orientation">
										<el-select v-model="eform.house_orientation" placeholder="请选择朝向">
											<el-option label="东" value="1"></el-option>
											<el-option label="西" value="2"></el-option>
											<el-option label="南" value="3"></el-option>
											<el-option label="北" value="4"></el-option>
											<el-option label="西南" value="5"></el-option>
											<el-option label="西北" value="6"></el-option>
											<el-option label="东南" value="7"></el-option>
											<el-option label="东北" value="8"></el-option>
										</el-select>
									</el-form-item>
								</el-col>

								<el-col :span="8">
									<el-form-item label="布局" prop="house_layout" :label-width="formLabelWidth">
										<el-select v-model="eform.house_layout" placeholder="请选择">
											<el-option label="单间" value="1"></el-option>
											<el-option label="双人间" value="2"></el-option>
											<el-option label="三人间" value="3"></el-option>
											<el-option label="五人机" value="4"></el-option>
											<el-option label="一室一厅" value="5"></el-option>
											<el-option label="二室一厅" value="6"></el-option>
											<el-option label="二室二厅" value="7"></el-option>
											<el-option label="三室一厅" value="8"></el-option>
										</el-select>
									</el-form-item>
								</el-col>

								<el-col :span="8">
									<el-form-item label="面积" prop="house_area" style="margin-top: 20px;">
										<el-input v-model.number="eform.house_area" style="width:220px;" placeholder="m^2"></el-input>
									</el-form-item>
								</el-col>

								<el-col :span="8">
									<el-form-item label="租金" prop="house_rent" style="margin-top: 20px;">
										<el-input v-model.number="eform.house_rent" style="width:220px;" placeholder="元/月"></el-input>
									</el-form-item>
								</el-col>

								<el-col :span="8">
									<el-form-item style="margin-top: 20px;" prop="house_date" label="发布日期" :label-width="formLabelWidth">
										<el-date-picker
												v-model="eform.house_date"
												align="right"
												type="date"
												placeholder="选择日期"
												value-format="yyyy-MM-dd"
												:picker-options="pickerOptions">
										</el-date-picker>
									</el-form-item>
								</el-col>
							</el-form-item>

						<!--1-------------------------------------------------1-->

						<el-form-item label="房屋标签">
							<el-checkbox-group v-model="checkedCities">
								<el-checkbox v-for="city in cities" :label="city.key" :key="city.key" >{{city.name}}</el-checkbox>
							</el-checkbox-group>
						</el-form-item>


						<el-form-item label="房屋组图" prop="headPic2">
							<el-upload
									name="headPic2"
									action="/uploadHeadPic2"
									list-type="picture-card"
									:on-success="handleAvatarSuccess2"
									:on-preview="handleAvatarSuccess2"
									:on-remove="handleRemove">
								<i class="el-icon-plus"></i>
							</el-upload>
							<el-dialog :visible.sync="dialogVisible">
								<img width="100%" :src="dialogImageUrl" alt="">
							</el-dialog>
						</el-form-item>

						<el-form-item>
							<el-button type="primary" @click="submitForm('eform')">立即创建</el-button>
							<el-button @click="resetForm('eform')">取消</el-button>
						</el-form-item>

						</el-form>
				</el-main>

			</el-container>

		</div>
		<script>
            var housefloor = (rule, value, callback) => {
                if (!value) {
                    return callback(new Error('楼层不能为空'));
                }
                setTimeout(() => {
                    if (!Number.isInteger(value)) {
                        callback(new Error('请输入数字值'));
                    } else {
                        if (value > 110) {
                            callback(new Error('不能大于110'));
                        } else if(value < -2){
							callback(new Error('楼层必须大于地下2层'));
						}else {
                            callback();
                        }
                    }
                }, 1000);
            };
            var housearea = (rule, value, callback) => {
                if (!value) {
                    return callback(new Error('面积不能为空'));
                }
                setTimeout(() => {
                    if (!Number.isInteger(value)) {
                        callback(new Error('请输入数字值'));
                    } else {
                        if (value > 1000) {
                            callback(new Error('不能大于1000㎡并且不能小于10㎡'));
                        }else if (value < 10){
                            callback(new Error('不能小于10㎡'));
                        } else {
                            callback();
                        }
                    }
                }, 1000);
            };
			new Vue({
				el: "#res",
				data: {
					checkAll: false,
					cities: [{key:'1',name:'近地铁'},{key:'2',name:'随时看房'},{key:'3',name:'在线签约'},{key:'4',name:'独立卫生间'},
						{key:'5',name:'月租'},{key:'6',name:'精装'},{key:'7',name:'独立阳台'},{key:'8',name:'中央空调'}
						,{key:'9',name:'押一付一'},{key:'10',name:'拎包入住'}],
					isIndeterminate: true,
					checkedCities:[],//标签
					dialogImageUrl: '',/*回显*/
					dialogVisible: false,
					rolefrom: false,
					cname: "",
					options:[],//房东id
					options1:[],//房东姓名房屋
					options3:[],//街道
					eform: {
						staff_num:'',//经济人编号
						uh_name:'',//房东id
                        uhouse:'',//房屋id
						house_title: '', //标题
						uh_urban: '', //市区
						uh_street: '', //街道
						uh_district: '', //详细地址
						house_floor: '', //楼层
						house_orientation: '', //朝向
						house_layout: '', //格局
						house_area: '', //面积
						house_rent: '', //租金
						house_date: '', //发布日期
						headPic:'',//封面
						headPic1:'',//房产证图
						headPic2:''//房图
					},
						pickerOptions: {
							disabledDate:function(time) {
								return time.getTime() > Date.now();
							},
							shortcuts: [{
								text: '今天',
								onClick:function(picker) {
									picker.$emit('pick', new Date());
								}
							}, {
								text: '昨天',
								onClick:function(picker) {
									const date = new Date();
									date.setTime(date.getTime() - 3600 * 1000 * 24);
									picker.$emit('pick', date);
								}
							}, {
								text: '一周前',
								onClick:function(picker) {
									const date = new Date();
									date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
									picker.$emit('pick', date);
								}
							}]
						},
					imageUrl: '',/*回显*/
					imageUrll: '',/*回显*/

					// 校验规则
					rules: {
						house_title: [{
								required: true, //是否必填
								message: '标题不能为空', //规则
								trigger: 'blur' //何事件触发
							},
							//可以设置双重验证标准
							{
								min: 3,
								max: 10,
								message: '长度在 3 到 10 个字符',
							}
						],
						uh_district: [{
							required: true, //是否必填
							message: '详细地址不能为空', //规则
							trigger: 'blur' //何事件触发
						}],
						code_state: [{
							required: true, //是否必填
							message: '街道不能为空', //规则
							trigger: 'blur' //何事件触发
						}],
						address: [{
							required: true, //是否必填
						}],

						house_floor: [
                                { validator: housefloor, trigger: 'blur' }
						],
						house_orientation: [{
							required: true, //是否必填
							message: '朝向不能为空', //规则
							trigger: 'blur' //何事件触发
						}],
						hdesc: [{
							required: true, //是否必填
							message: '格局不能为空', //规则
							trigger: 'blur' //何事件触发
						}],
						uh_urban: [{
							required: true, //是否必填
							message: '城市不能为空', //规则
							trigger: 'blur' //何事件触发
						}],
						house_area: [//面积
                            { validator: housearea, trigger: 'blur' }
						],
						house_rent: [{
								required: true, //是否必填
								message: '租金不能为空', //规则
								trigger: 'blur' //何事件触发
							},
							{
								type: 'number',
								message: '租金必须是数字'
							}
						],
						house_date: [{
							required: true, //是否必填
							message: '日期不能为空', //规则
							trigger: 'blur' //何事件触发
						}],
					},

					pickerOptions0: {
						disabledDate(time) {
							return time.getTime() > Date.now() - 8.64e7; //如果没有后面的-8.64e7就是不可以选择今天的          }

						},

					},

				},
				mounted: function() {
					this.all();
					this.session();

				},
				methods: {
					//经济人
					session: function() {
						var self=this;
						axios.post('/getSessionStaff')
								.then(function (response) {
									//JSON.stringify 把json对象装换为json字符串
									console.log(JSON.stringify(response.data));
									self.eform=response.data;
								});
					},
					all: function() {//房东
						var self=this;
						axios.post('/getStaffUser')
								.then(function (response) {
									//JSON.stringify 把json对象装换为json字符串
									console.log(JSON.stringify(response.data));
									self.options=response.data;
									self.form=response.data;
								});
					},
					searchName: function() {//huoqu
						var self=this;

						axios.post('/getUserHouse',{'uh_useid':this.eform.uh_name})
								.then(function (response) {
									//JSON.stringify 把json对象装换为json字符串
									console.log(JSON.stringify(response.data));
									self.options1=response.data;
								});

					},
					urbanStreet: function() {
						var self=this;
						//加载街道
						axios.post('/getHouseCode',{'code_type':this.eform.uh_urban})
								.then(function (response) {
									//JSON.stringify 把json对象装换为json字符串
									console.log(JSON.stringify(response.data));
									self.options3=response.data;
								});

					},
					//封面图
					handleAvatarSuccess:function(res,file) {
						this.imageUrl = URL.createObjectURL(file.raw);
						this.eform.headPicName= file.response.originalFilename;
						this.eform.headPic=file.response.newFileName;
					},
					//房产图
					handleAvatarSuccess1:function(res,file) {
						this.imageUrll = URL.createObjectURL(file.raw);
						this.eform.headPicName= file.response.originalFilename;
						this.eform.headPic1=file.response.newFileName;
					},
					//房图
					handleAvatarSuccess2:function(res,file) {
						this.dialogImageUrl = URL.createObjectURL(file.raw);
						this.eform.headPicName1= file.response.originalFilename;
						if (this.eform.headPic2=='' || this.eform.headPic2==undefined) {
							this.eform.headPic2=file.response.newFileName+",";
						}else{
							this.eform.headPic2+=file.response.newFileName;
						}

					},
					beforeAvatarUpload:function(file) {
						const isJPG = file.type === 'image/jpeg';
						const isLt2M = file.size / 1024 / 1024 < 2;

						if (!isJPG) {
							this.$message.error('上传头像图片只能是 JPG 格式!');
						}
						if (!isLt2M) {
							this.$message.error('上传头像图片大小不能超过 2MB!');
						}
						return isJPG && isLt2M;
					},
					resetForm(form) {//取消
						this.$refs[form].resetFields();
					},
					submitForm(form) {//提交
						this.$refs[form].validate((valid) => {
							if (valid) {
								var self=this;
								axios.post('/setHouse',{"checkedCities":this.checkedCities,"staff_num":this.eform.staff_num,
									"uh_name":this.eform.uh_name,"house_id":this.eform.uhouse,"house_title":this.eform.house_title,"uh_urban":this.eform.uh_urban,"uh_street":this.eform.uh_street,
									"uh_district":this.eform.uh_district,"house_floor":this.eform.house_floor,"headPic":this.eform.headPic,
									"house_orientation":this.eform.house_orientation,"house_layout":this.eform.house_layout,"house_area":this.eform.house_area,
									"house_rent":this.eform.house_rent,"house_date":this.eform.house_date,"headPic1":this.eform.headPic1,"headPic2":this.eform.headPic2})
										.then(function (response) {
											//添加或者修改成功
											if (response.data.code==200){
												self.$message({
													message: '恭喜你，这是一条成功消息',
													type: 'success'
												});
												//刷新界面
												setInterval(aa,1500);
												function aa(){
													//刷新界面
													location.reload();
												}
											}else {
												self.$message.error('错了哦，这是一条错误消息');
											}
										})
							} else {
								console.log('error submit!!');
								return false;
							}
						});
					}
				}

			})
		</script>
	</body>

</html>