<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>枫城</title>
    <link rel="icon" href="../front/resources/images/fengye1.ico"/>
    <script src="../front/resources/vue/vue.js"></script>
    <script src="../front/resources/js/ele.js"></script>
    <link href="../front/resources/css/ele.css" rel="stylesheet">
    <script src="../front/resources/js/axios.js"></script>
    <style>
        #role {
            height: 100%;
            background-color: #DCDFE6;
        }

        #role img {
            width: 50px;
            margin-left: 5px;
            margin-top: 0px;
            float: left
        }

        #role h1 {
            float: left;
        }

        body .el-container {
            height: 100%;
            margin-bottom: 40px;
            border-radius: 2px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
        }

        .el-header, .el-footer {
            background-color: #E4E7ED;
            color: #333;
            text-align: center;
        }

        .el-main {
            height: 490px;
            background-color: #EBEEF5;
            color: #333;
            text-align: center;
        }

        .el-main .el-table {
            background-color: #F2F6FC;
        }

        .el-pagination {
            margin-top: 15px;
        }

        #eform {
            text-align: left;
            float: right;
        }

        .el-form-item {
            margin-top: 10px;
        }

        .el-table td, .el-table th {
            text-align: center;
        }

        .yc {
            text-align: left;
        }

        .yc .el-form-item {
            width: 250px;
            margin-bottom: 0px;
            margin-left: 27px;
        }

        .el-input-group__append, .el-input-group__prepend {
            padding: 0 5px;
        }
    </style>
</head>
<body>
<div id="role">
    <el-container>

        <el-header>

            <image src="../front/resources/images/icon/房子.png"></image>
            <h1>我的房源</h1>

            <el-form :inline="true" :model="formInline" class="demo-form-inline" id="eform">
                <el-form-item label="状态"  :label-width="formLabelWidth">
                    <el-select v-model="formInline.house_state1" placeholder="请选择">
                        <el-option label="请选择" value=""></el-option>
                        <el-option label="待发布" value="1"></el-option>
                        <el-option label="已发布" value="2"></el-option>
                        <el-option label="已出租" value="3"></el-option>
                        <el-option label="已下架" value="4"></el-option>
                    </el-select>
                </el-form-item>

                <el-form-item label="地址">
                    <el-input v-model="formInline.house_district1" placeholder="详细地址" size="medium"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="loadData" icon="el-icon-search">查询</el-button>
                </el-form-item>
            </el-form>

        </el-header>
        <el-main>
            <el-table :data="tableData">
                <el-table-column type="expand">
                    <template slot-scope="props">
                        <el-form label-position="left" inline class="demo-table-expand">
                            <div class="yc">
                                <el-form-item label="房屋租金:">
                                    <span>{{ props.row.house_rent }}</span>
                                </el-form-item>
                                <el-form-item label="房屋楼层:">
                                    <span>{{ props.row.house_floor }}</span>
                                </el-form-item>
                                <el-form-item label="房屋面积:">
                                    <span>{{ props.row.house_area }}</span>
                                </el-form-item>
                            </div>
                            <div class="yc">
                                <el-form-item label="房屋朝向:">
                                    <span>{{ props.row.house_orintation }}</span>
                                </el-form-item>
                                <el-form-item label="发布日期:">
                                    <span>{{ props.row.house_date }}</span>
                                </el-form-item>
                                <el-form-item label="房屋布局:">
                                    <span>{{ props.row.house_layout }}</span>
                                </el-form-item>
                                <el-form-item label="审核人编号:">
                                    <span>{{ props.row.house_ditstaff }}</span>
                                </el-form-item>
                                <el-form-item label="驳回原因:">
                                    <span>{{ props.row.house_reason}}</span>
                                </el-form-item>
                            </div>
                            <div class="yc">
                                <el-form-item label="描述标签:" style="width: 900px">
                                    <span v-for="k in props.row.houseLables" >{{ k.la_id }}&nbsp;&nbsp;</span>
                                </el-form-item>
                            </div>
                        </el-form>
                    </template>
                </el-table-column>
                <el-table-column prop="house_id" label="房屋编号" width="100"></el-table-column>
                <el-table-column prop="house_title" label="房屋标题"></el-table-column>
                <el-table-column prop="house_district" label="房屋详细地址" width="200"></el-table-column>
                <el-table-column label="员工编号"  width="100">
                    <template slot-scope="scope">
                        <el-popover trigger="hover" placement="top">
                            <p>姓名: {{ scope.row.u_name }}</p>
                            <p>电话: {{ scope.row.u_phone }}</p>
                            <div slot="reference" class="name-wrapper">
                                <el-tag size="medium">{{ scope.row.id }}</el-tag>
                            </div>
                        </el-popover>
                    </template>
                </el-table-column>
                <el-table-column prop="house_audit" label="审核状态" width="200"></el-table-column>

                <el-table-column prop="house_state" label="房屋状态"  width="100"></el-table-column>
                <el-table-column label="操作" style="width: auto;">
                    <template slot-scope="props">
                        <el-button v-if="props.row.house_audit=='未通过'" size="mini" @click="openHos(props.row)" type="primary">编辑</el-button>
                        <el-button v-if="props.row.house_audit=='未通过'" size="mini" @click="why(props.row)" type="primary">查看原因</el-button>
                        <el-button v-if="props.row.house_audit=='待审核'" size="mini" type="info" disabled>不可操作</el-button>
                        <!--<el-button v-if="props.row.house_audit=='已审核'" size="mini" @click="release(props.row)" type="success">发布</el-button>-->
                        <el-button v-if="props.row.house_state=='待发布'|| props.row.house_state=='已下架' && props.row.house_audit=='已审核'" size="mini" @click="release(props.row)" type="success">发布</el-button>
                        <el-button v-if="props.row.house_state=='已发布' && props.row.house_audit=='已审核' " size="mini" @click="upfour(props.row)" type="warning">下架</el-button>
                        <el-button v-if="props.row.house_state=='已出租' && props.row.house_audit=='已审核' " size="mini" @click="openCus(props.row)" type="primary">查看合同</el-button>

                    </template>
                </el-table-column>
            </el-table>
        </el-main>
        <el-footer>
            <!-- ******************************** 分页************************-->
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="currentPage"
                    :page-sizes="[2, 5, 7, 10]"
                    :page-size="pageSize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="total">
            </el-pagination>
            <!--page-size默认几条-->
            <!--total总数量-->
        </el-footer>

        <el-dialog title="房源信息" :visible.sync="housefrom" width="90%" center>

            <el-form :model="hfrom" label-width="100px" :inline="true">
                <input type="hidden" v-model="hfrom.id"/>
                <el-form-item label="房屋编号">
                    <el-input v-model="hfrom.house_id" :disabled="true" style="width: 90px;"></el-input>
                </el-form-item>
                <el-form-item label="房东姓名">
                    <el-input v-model="hfrom.u_name" :disabled="true" style="width: 80px;"></el-input>
                </el-form-item>
                <el-form-item label="房屋标题">
                    <el-input v-model="hfrom.house_title" style="width: 400px;"></el-input>
                </el-form-item>
                <el-form-item label="房屋地址">
                    <el-input v-model="hfrom.house_district" style="width: 230px;"></el-input>
                </el-form-item>
                <el-form-item label="房屋租金">
                    <el-input v-model="hfrom.house_rent" style="width: 130px;"><template slot="append">元/月</template></el-input>
                </el-form-item>
                <el-form-item label="房屋楼层">
                    <el-input v-model="hfrom.house_floor"  style="width: 80px;"><template slot="append">层</template></el-input>
                </el-form-item>
                <el-form-item label="房屋面积">
                    <el-input v-model="hfrom.house_area"  style="width: 80px;"><template slot="append">㎡</template></el-input>
                </el-form-item>
                <el-form-item label="房屋朝向">
                    <el-input v-model="hfrom.house_orintation" :disabled="true"  style="width: 50px;"></el-input>
                </el-form-item>
                <el-form-item label="发布日期">
                    <el-input v-model="hfrom.house_date" :disabled="true"  style="width: 120px;"></el-input>
                </el-form-item>
                <el-form-item label="封面图片地址">
                    <el-input v-model="hfrom.house_cover" style="width: 220px;" :disabled="true"><template slot="append">
                        <el-tooltip placement="top">
                            <div slot="content"><img width="300px" height="300px" :src="'http://localhost:8080/loginReg/show?fileName='+hfrom.house_cover" /></div>
                            <el-button>查看</el-button>
                        </el-tooltip>
                    </template></el-input>
                </el-form-item>
                <!--<el-form-item label="房屋状态"  :label-width="formLabelWidth">
                    <el-select v-model="hfrom.house_state" :disabled="true" placeholder="请选择">
                        <el-option
                                v-for="item in options"
                                :key="item.code_number"
                                :label="item.code_state"
                                :value="item.code_number">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="房屋审核"  :label-width="formLabelWidth">
                    <el-select v-model="hfrom.house_audit" :disabled="true" placeholder="请选择">
                        <el-option
                                v-for="item in options1"
                                :key="item.code_number"
                                :label="item.code_state"
                                :value="item.code_number">
                        </el-option>
                    </el-select>
                </el-form-item>-->
            </el-form>

            <div slot="footer" class="dialog-footer">
                <el-button @click="housefrom = false">取 消</el-button>
                <el-button type="primary" @click="saveData">确 定</el-button>
            </div>
        </el-dialog>

        <el-dialog title="《合同信息》" :visible.sync="cusfrom" width="53%" center>
            <el-form :model="cfrom" label-width="100px" :inline="false">
                <!--<input type="hidden" name="house_id" value="${hetong.house_id}"/>-->
                <p>出租方：{{cfrom.pact_staffname}}（以下简称甲方）  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;      身份证号：{{cfrom.pact_stacard}}</p>　　　
                <p>承租方：{{cfrom.pact_usename}}（以下简称乙方）    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    身份证号：{{cfrom.pact_usecard}}　</p>　
                <p>租赁房屋地址：{{cfrom.hadr}}　</p>　
                <p>依据《中华人民共和国合同法》有关条款，甲乙双方经过充分协商，就乙方租赁甲方房屋事宜达成如下协议：</p>
                <p>一、乙方租赁甲方房屋，以下简称租赁房屋。</p>
                <p>二、起租时间：{{cfrom.pact_begin}}，退租时间：{{cfrom.pact_end}}。
                    在合同签订之日，乙方需向甲方支付房屋租金￥{{cfrom.pact_cost}}。如续租，请提前3天通知甲方，并重新办理租赁手续。<br /></p>　　　　
                <p>三、违约处理：</p>　
                <p>甲方违约：</p>　
                <p>1．如甲方未能及时将押金退还乙方，甲方每天应按押金的2％向乙方支付违约金；</p>
                <p>2．如甲方提供的维修服务项目与协议不相符，乙方有权提前退租，甲方应全额退还剩余的租金。</p>
                <p>乙方违约：</p>　　
                <p>1．如乙方不按时缴纳租金，甲方有权在其押金中扣除，同时收回房屋，所有损失由乙方负责；</p>　
                <p>2．如果乙方在租赁期限未满时退租，甲方仅退还剩余租金的40％（租期未满一个月的不在此例）；</p>　
                <p>四、本协议书一式两份，甲乙双方各执一份；本协议甲乙双方签字后生效。补充协议亦属于合同的一部分。</p>　
                　<br />　　甲方（盖章）：_________　　　　　　　　乙方（盖章）：_________　　<br />　
                　法定代表人（签字）：_________　　　　　法定代表人（签字）：_________　　<br />　　
                担保人（签章）：_________　　<br />　　
                _________年____月____日　　　　　　　　_________年____月____日　　<br />　　
                签订地点：_________　　　　　　　　　　签订地点：_________ <br/>

                <p>
                <div class="button">
                    <el-button @click="cusfrom = false">打印合同</el-button>
                </div>
                </p>

            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="cusfrom = false">关闭</el-button>
            </div>
            <!--<el-form :model="cfrom" label-width="100px" :inline="false">
                <el-form-item label="房客姓名:">
                    <el-input v-model="cfrom.pact_usename" :disabled="true" style="width: 200px;"></el-input>
                </el-form-item>
                <el-form-item label="房东电话:">
                    <el-input v-model="cfrom.pact_uphone" :disabled="true" style="width: 200px;"></el-input>
                </el-form-item>
                <el-form-item label="身份证号:">
                    <el-input v-model="cfrom.pact_usecard" :disabled="true" style="width: 200px;"></el-input>
                </el-form-item>
                <el-form-item label="开始时间:">
                    <el-input v-model="cfrom.pact_begin" :disabled="true" style="width: 200px;"></el-input>
                </el-form-item>
                <el-form-item label="结束时间:">
                    <el-input v-model="cfrom.pact_end" :disabled="true" style="width: 200px;"></el-input>
                </el-form-item>
                <el-form-item label="手续费:">
                    <el-input v-model="cfrom.pact_poundage" :disabled="true" style="width: 200px;"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="cusfrom = false">关闭</el-button>
            </div>-->
        </el-dialog>

    </el-container>
</div>
<script>
    new Vue({
        el: "#role",
        data: {
            tableData: []//数据表格
            ,currentPage:1/*当前页码*/
            ,pageSize:2/*每页条数*/
            ,total:0,/*总页数*/
            housefrom: false,
            formInline: {
                house_state1:'',
                house_district1:''
            }, //查询条件
            hfrom: {},
            cusfrom:false,
            cfrom:{},//房客信息
        },
        mounted: function () {
            this.loadData();
        },
        methods: {
            loadData: function () {
                var self = this;
                var start = (this.currentPage - 1) * this.pageSize;
                axios.post('/getMyHouse',{
                    'start': start, 'pageSize': this.pageSize,
                    house_state:this.formInline.house_state1,
                    house_district:self.formInline.house_district1})
                    .then(function (response) {
                        //JSON.stringify 把json对象装换为json字符串
                        console.log(JSON.stringify(response.data));
                        //json.parse()把json字符串转换为json对象
                        self.tableData = response.data.personlist;
                        self.total = response.data.total;
                    })
            },
            handleSizeChange:function(val) {
                console.log('每页条数：'+val);
                this.pageSize=val;
                this.loadData();
            },
            handleCurrentChange:function(val) {
                console.log('当前页: '+val);
                this.currentPage=val;
                this.loadData();
            },
            saveData: function () {//提交
                var self=this;
                axios.post('/setHouseMyAll',self.hfrom)
                    .then(function (response) {
                        //添加或者修改成功
                        if (response.data.code==200){
                            self.$message({
                                message: '恭喜你，修改成功',
                                type: 'success'
                            });
                            //关闭弹出框
                            self.housefrom=false;
                            //刷新界面
                            self.loadData(); //刷新数据表格
                        }else {
                            self.$message.error('错了哦，这是一条错误消息');
                        }
                    })


            },

            why:function(row){
                this.$alert(row.house_reason, '驳回原因', {
                    confirmButtonText: '确定',
                })
            },
            release: function (row) {//发布upMYHouse
                var self = this;
                axios.post('/upMYHouse',{'house_id':row.house_id})
                    .then(function (response) {
                        //添加或者修改成功
                        if (response.data.code==200){
                            self.$message({
                                message: '发布成功',
                                type: 'success'
                            });
                            //刷新界面
                            self.loadData(); //刷新数据表格
                        }else {
                            self.$message.error('错了哦，这是一条错误消息');
                        }
                    });
            },
            upfour: function (row) {//下架
                var self = this;
                axios.post('/setHouseMyXiajia',{'house_id':row.house_id})
                    .then(function (response) {
                        //添加或者修改成功
                        if (response.data.code==200){
                            self.$message({
                                message: '下架成功',
                                type: 'success'
                            });
                            //刷新界面
                            self.loadData(); //刷新数据表格
                        }else {
                            self.$message.error('错了哦，这是一条错误消息');
                        }
                    })
            },
            openHos:function(row){
                this.housefrom=true;
                this.hfrom=row;
            },
            openCus:function(row){//查看
                var self = this;
                self.cusfrom=true;
                axios.post('/getpact',{'house_id':row.house_id})
                    .then(function (response) {
                        //JSON.stringify 把json对象装换为json字符串
                        console.log(JSON.stringify(response.data));
                        //json.parse()把json字符串转换为json对象
                        self.cfrom = response.data;
                    })
            },

        }
    })
</script>
</body>
</html>